<div class="side">

				<div class="mod" id="ylf-you">
		<div class="hd line cls">
					<%= link_to image_tag("http://f3.yahoofs.com/coreid/48081d11i5fbzul2sp1/RZiYObMjdKWKE.pfuJaRG6G3tXfJU5p20RiecdA-/1/tn48.jpg?ciAwiiJBUS2R48hq", :width => "48", :height => "48", :alt => "avatar"), user_path(current_user), :class => "avatar" %>
		<div class="greets boxed">
			<h3>hello, <%= current_user.login %></h3>
			<%= link_to "Sign Out", sessions_path, :method => :delete, :class => "first" %>
			
		</div>
		</div>
		<div class="bd line">
<!--			<ul class="cls">
				<li class="email new"><a href="http://mail.yahoo.com/">Mail <span>254 New</span></a></li>
				<li title="Partly Cloudy" class="weath sep"><a style="background: rgb(255, 255, 255) url(http://l.yimg.com/jn/util/anysize/26*26c-86400,http%3A%2F%2Fl.yimg.com%2Fus.yimg.com%2Fi%2Fus%2Fwe%2F52%2F29.gif) no-repeat scroll 5px 0pt; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial;" href="http://us.rd.yahoo.com/dailynews/rss/weather/Pacifica__CA/*http://weather.yahoo.com/forecast/94044_f.html">45° F</a></li>
				<li class="horo sep"><a href="/astrology/">Horoscopes</a></li>
			</ul>
-->						<p>Let’s work:
				<%= link_to "My Blog", user_path(current_user) %>
				<%= link_to "My Stuff", user_path(current_user) %>
				<%= link_to "Submit a Slot", :action => "new" %>
			</p>
		</div>
	</div>

			<div class="line" id="ylf-lrec">
				<table cellspacing="0" cellpadding="0" border="0" class="ad_slug_table"><tbody><tr><td align="center"><span class="ad_slug"><font size="-2" face="Arial" class="ad_slug_font">ADVERTISEMENT</font><br/></span>
<!--Vendor: Doubleclick, Format: IFrame -->
<script language="javascript" type="text/javascript">var YAHOO = YAHOO || {};YAHOO.RT = YAHOO.RT || {};YAHOO.RT.ADS = YAHOO.RT.ADS || {};function rtAd_endTime(fName){var et = fName + "_endTime";YAHOO.RT.ADS[et] = Number(new Date());}function rtAd_startTime(){this.fName = "";this.url = "";this.startTime = function(){var fr = document.getElementById(this.fName);if(fr) {var st = this.fName + "_startTime";YAHOO.RT.ADS[st] = Number(new Date());fr.src=this.url;}}}function rtAd_write(content, adurl, id){document.write(content);YAHOO.RT.ADS['startTimeObj_'+id] = new rtAd_startTime();YAHOO.RT.ADS['startTimeObj_'+id].fName = id;YAHOO.RT.ADS['startTimeObj_'+id].url = adurl;window.setTimeout("YAHOO.RT.ADS['startTimeObj_"+id+"'].startTime()", 1);}
var ran = Number(new Date());var rt_ad_content ='<iframe id="rt_id_'+ran+'" ONLOAD="rtAd_endTime(\'rt_id_'+ran+'\')"  WIDTH=300 HEIGHT=250 MARGINWIDTH=0 MARGINHEIGHT=0 HSPACE=0 VSPACE=0 FRAMEBORDER=0 SCROLLING=no BORDERCOLOR="#000000"><SCRIPT language="JavaScript1.1" ><\/SCRIPT><NOSCRIPT><A HREF="http://us.ard.yahoo.com/SIG=153uu3kks/M=706654.13073556.13272621.11942150/D=yliving/S=967143001:LREC/Y=YAHOO/EXP=1229765177/L=GEZLZGKIKqhcbnXdSUWfnhRxTPzY.ElMnhkABNi9/B=bgmYadj8ek4-/J=1229757977356660/A=5535398/R=0/SIG=13j9trhlf/*http://ad.doubleclick.net/jump/N1243.unileveryahoo/B3181456.22;abr=!ie4;abr=!ie5;sz=300x250;ord=1229757977356660?"><IMG  BORDER=0 WIDTH=300 HEIGHT=250 ALT="Click Here"></A></NOSCRIPT></IFRAME>';
var rt_ad_id = "rt_id_"+ran;
var rt_ad_url = "http://ad.doubleclick.net/adi/N1243.unileveryahoo/B3181456.22;sz=300x250;dcopt=rcl;mtfIFrameRequest=false;click=http://us.ard.yahoo.com/SIG=153uu3kks/M=706654.13073556.13272621.11942150/D=yliving/S=967143001:LREC/Y=YAHOO/EXP=1229765177/L=GEZLZGKIKqhcbnXdSUWfnhRxTPzY.ElMnhkABNi9/B=bgmYadj8ek4-/J=1229757977356660/A=5535398/R=1/*;ord=1229757977356660?";
rtAd_write(rt_ad_content, rt_ad_url, rt_ad_id);
</script><iframe width="300" scrolling="no" height="250" frameborder="0" bordercolor="#000000" vspace="0" hspace="0" marginheight="0" marginwidth="0" onload="rtAd_endTime('rt_id_1229758039503')" id="rt_id_1229758039503" src="http://ad.doubleclick.net/adi/N1243.unileveryahoo/B3181456.22;sz=300x250;dcopt=rcl;mtfIFrameRequest=false;click=http://us.ard.yahoo.com/SIG=153uu3kks/M=706654.13073556.13272621.11942150/D=yliving/S=967143001:LREC/Y=YAHOO/EXP=1229765177/L=GEZLZGKIKqhcbnXdSUWfnhRxTPzY.ElMnhkABNi9/B=bgmYadj8ek4-/J=1229757977356660/A=5535398/R=1/*;ord=1229757977356660?"><SCRIPT language="JavaScript1.1" ></SCRIPT><NOSCRIPT><A HREF="http://us.ard.yahoo.com/SIG=153uu3kks/M=706654.13073556.13272621.11942150/D=yliving/S=967143001:LREC/Y=YAHOO/EXP=1229765177/L=GEZLZGKIKqhcbnXdSUWfnhRxTPzY.ElMnhkABNi9/B=bgmYadj8ek4-/J=1229757977356660/A=5535398/R=0/SIG=13j9trhlf/*http://ad.doubleclick.net/jump/N1243.unileveryahoo/B3181456.22;abr=!ie4;abr=!ie5;sz=300x250;ord=1229757977356660?"><IMG  BORDER=0 WIDTH=300 HEIGHT=250 ALT="Click Here"></A></NOSCRIPT></iframe>
<noscript>
<IFRAME SRC="http://ad.doubleclick.net/adi/N1243.unileveryahoo/B3181456.22;sz=300x250;dcopt=rcl;mtfIFrameRequest=false;click=http://us.ard.yahoo.com/SIG=153uu3kks/M=706654.13073556.13272621.11942150/D=yliving/S=967143001:LREC/Y=YAHOO/EXP=1229765177/L=GEZLZGKIKqhcbnXdSUWfnhRxTPzY.ElMnhkABNi9/B=bgmYadj8ek4-/J=1229757977356660/A=5535398/R=2/*;ord=1229757977356660?" WIDTH=300 HEIGHT=250 MARGINWIDTH=0 MARGINHEIGHT=0 HSPACE=0 VSPACE=0 FRAMEBORDER=0 SCROLLING=no BORDERCOLOR='#000000'>
<A HREF="http://us.ard.yahoo.com/SIG=153uu3kks/M=706654.13073556.13272621.11942150/D=yliving/S=967143001:LREC/Y=YAHOO/EXP=1229765177/L=GEZLZGKIKqhcbnXdSUWfnhRxTPzY.ElMnhkABNi9/B=bgmYadj8ek4-/J=1229757977356660/A=5535398/R=3/SIG=13j9trhlf/*http://ad.doubleclick.net/jump/N1243.unileveryahoo/B3181456.22;abr=!ie4;abr=!ie5;sz=300x250;ord=1229757977356660?"><IMG SRC="http://ad.doubleclick.net/ad/N1243.unileveryahoo/B3181456.22;abr=!ie4;abr=!ie5;sz=300x250;ord=1229757977356660?" BORDER=0 WIDTH=300 HEIGHT=250 ALT="Click Here"></A></IFRAME>
</noscript></td></tr></tbody></table><script language="javascript">
if(window.yzq_d==null)window.yzq_d=new Object();
window.yzq_d['bgmYadj8ek4-']='&U=13g0s7m16%2fN%3dbgmYadj8ek4-%2fC%3d706654.13073556.13272621.11942150%2fD%3dLREC%2fB%3d5535398%2fV%3d1';
</script><noscript><img width=1 height=1 alt="" src="http://us.bc.yahoo.com/b?P=GEZLZGKIKqhcbnXdSUWfnhRxTPzY.ElMnhkABNi9&T=142to597j%2fX%3d1229757977%2fE%3d967143001%2fR%3dyliving%2fK%3d5%2fV%3d2.1%2fW%3dH%2fY%3dYAHOO%2fF%3d3519734267%2fQ%3d-1%2fS%3d1%2fJ%3dC8ABA342&U=13g0s7m16%2fN%3dbgmYadj8ek4-%2fC%3d706654.13073556.13272621.11942150%2fD%3dLREC%2fB%3d5535398%2fV%3d1"></noscript>
			</div>
			
			<div class="line" id="ylf-lrec-lz">
						<iframe frameborder="0" id="ylf-darla-LRECLZ"/>
		<script type="text/javascript" language="javascript">
		YAHOO.namespace('YAHOO.Lifestyles.MM');
		YAHOO.Lifestyles.MM.loadedLRECLZ = false;
		YAHOO.Lifestyles.MM.loadAdsLRECLZ = function() {
			if (window.YAHOO.ads.darla) {
				YAHOO.ads.darla.setConfig ({ callFrame:"ylf-darla-LRECLZ", callScript:"/darla-fc", rotation:0, autoRotation:false, property:"yliving", destinationMap:{}, events: { "eventLRECLZ":{ lv:2, npv:true, sp:"967143001", ps:"LREC", em:escape('{"site-attribute":"content=no-expandable;", "ad-logoption":"NOINVENTORY"}') } } });
				YAHOO.ads.darla.event ('eventLRECLZ', { lv:2 } );
				YAHOO.util.Event.removeListener( window, "scroll", YAHOO.Lifestyles.MM.loadAdsLRECLZ);
			}
		}
		</script>
			</div>

			<div id="ylf-pos-logo">
				<!-- SpaceID=967143001 loc=LOGO noad -->
<script language="javascript">
if(window.yzq_d==null)window.yzq_d=new Object();
window.yzq_d['dQmYadj8ek4-']='&U=12clphemo%2fN%3ddQmYadj8ek4-%2fC%3d-1%2fD%3dLOGO%2fB%3d-1%2fV%3d0';
</script><noscript><img width=1 height=1 alt="" src="http://us.bc.yahoo.com/b?P=GEZLZGKIKqhcbnXdSUWfnhRxTPzY.ElMnhkABNi9&T=1415mgd92%2fX%3d1229757977%2fE%3d967143001%2fR%3dyliving%2fK%3d5%2fV%3d2.1%2fW%3dH%2fY%3dYAHOO%2fF%3d138578102%2fQ%3d-1%2fS%3d1%2fJ%3dC8ABA342&U=12clphemo%2fN%3ddQmYadj8ek4-%2fC%3d-1%2fD%3dLOGO%2fB%3d-1%2fV%3d0"></noscript>
			</div>
			
			
<div class="mod line" id="ylf-popular">
	<div class="hd"><h2>Most Popular <span>On Shine</span></h2></div>
	<div class="bd">
		
		<ul class="blt" id="lifestyles-tab">
			<li><a href="/channel/none/loneliness-330753/">Loneliness</a><span> Mon Dec 15, 2008 12:43pm PST</span></li><li><a href="/channel/none/may-you-and-your-families-all-be-blessed-this-christmas-333746/">MAY YOU AND YOUR FAMILIES ALL BE BLESSED THIS CHRISTMAS</a><span> Thu Dec 18, 2008 11:11am PST</span></li><li><a href="/channel/none/have-yourself-a-warm-merry-christmas-332094/">Have Yourself A Warm Merry Christmas :)</a><span> Tue Dec 16, 2008 7:02pm PST</span></li><li><a href="/channel/none/keep-praying-sisters-and-brothers-of-the-traveling-prayer-request-from-irish-329971/">KEEP PRAYING!! Sisters and Brothers of the traveling prayer!! Request from IRISH!!</a><span> Sun Dec 14, 2008 9:26am PST</span></li><li><a href="/channel/none/brenda-pick-why-are-women-so-judgmental-when-it-comes-to-other-women-or-are-we-328453/">Brenda pick: Why are women so judgmental when it comes to other women? Or are we?</a><span> Thu Dec 11, 2008 4:11pm PST</span></li>
		</ul>

	</div>
	<div class="ft"><a class="more" href="/popular/">More Most Popular on Shine »</a></div>
</div>

			
<div class="mod line" id="ylf-vitality">
	<div class="hd"><h2>Updates <span>Chatter on Shine...</span></h2></div>
	<div class="bd">
		<ul class="thumbs">
						<li>
				<a class="img" href="/blog/anwouQPymWso8WG8iFqtnw91mGyHG6_dA8GqYShs7YWtKiQvg/"><img width="32" height="32" class="lz" src="http://f3.yahoofs.com/coreid/48081d11i5fbzul2sp1/RZiYObMjdKWKE.pfuJaRG6G3tXfJU5p20RiecdA-/1/tn32.jpg?ciAwiiJBD7xNDS7c" alt="<%= @slot.user.login %>'s Avatar"/></a>
				<div class="txt">
					<a class="title" href="http://us.rd.yahoo.com/Updates/wisteria/SIG=187ahpein/*http%3A//shine.yahoo.com/blog/anwouQPymWso8WG8iFqtnw91mGyHG6_dA8GqYShs7YWtKiQvg/">About Me</a>
					<cite>by <a class="author" href="/blog/anwouQPymWso8WG8iFqtnw91mGyHG6_dA8GqYShs7YWtKiQvg/"><%= @slot.user.login %></a> <span title="Fri Dec 19, 2008 11:23pm PST" class="rel-time">2 minutes ago</span></cite>
					
				</div>
			</li>
			<li>
				<a class="img" href="/blog/alDBEhY.1TPLVSa7ner14TiiPc6dC/"><img width="32" height="32" class="lz" src="http://us.i1.yimg.com/us.yimg.com/i/identity/nopic_32.gif" alt="Quincy's Avatar"/></a>
				<div class="txt">
					<a class="title" href="http://us.rd.yahoo.com/Updates/wisteria/SIG=16vjcu2ir/*http%3A//shine.yahoo.com/blog/alDBEhY.1TPLVSa7ner14TiiPc6dC/">About Me</a>
					<cite>by <a class="author" href="/blog/alDBEhY.1TPLVSa7ner14TiiPc6dC/">Quincy</a> <span title="Fri Dec 19, 2008 11:20pm PST" class="rel-time">5 minutes ago</span></cite>
					
				</div>
			</li>
			<li>
				<a class="img" href="/blog/alDBEhY.1TPLVSa7ner14TiiPc6dC/"><img width="32" height="32" class="lz" src="http://us.i1.yimg.com/us.yimg.com/i/identity/nopic_32.gif" alt="Quincy's Avatar"/></a>
				<div class="txt">
					<a class="title" href="http://us.rd.yahoo.com/Updates/wisteria/SIG=16vougnii/*http%3A//shine.yahoo.com/blog/alDBEhY.1TPLVSa7ner14TiiPc6dC/">About Me</a>
					<cite>by <a class="author" href="/blog/alDBEhY.1TPLVSa7ner14TiiPc6dC/">Quincy</a> <span title="Fri Dec 19, 2008 11:17pm PST" class="rel-time">7 minutes ago</span></cite>
					
				</div>
			</li>
			<li>
				<a class="img" href="/blog/aoPUFOf3zf.qNYXkSyi2Qh2O2zkzC1l4Y/"><img width="32" height="32" class="lz" src="http://l.yimg.com/img.avatars.yahoo.com/users/1wPOvpxu9AAIBCGN0jCB0BukkHX2kpw==.medium.jpg" alt="Mag's Avatar"/></a>
				<div class="txt">
					<a class="title" href="http://us.rd.yahoo.com/Updates/wisteria/SIG=177nmo9pp/*http%3A//shine.yahoo.com/blog/aoPUFOf3zf.qNYXkSyi2Qh2O2zkzC1l4Y/">About Me</a>
					<cite>by <a class="author" href="/blog/aoPUFOf3zf.qNYXkSyi2Qh2O2zkzC1l4Y/">Mag</a> <span title="Fri Dec 19, 2008 11:16pm PST" class="rel-time">9 minutes ago</span></cite>
					
				</div>
			</li>
			<li>
				<a class="img" href="/blog/ausMW48KjBPsECGx1NP.3xkZVU1NuCK7mFU7m/"><img width="32" height="32" class="lz" src="http://f5.yahoofs.com/coreid/494c94a8i1d92zul3re3/zcpiUcszcpknsuKeod4PCZPfDUQ-/1/tn32.jpg?ciAwiiJBa8iph9sB" alt="bi_baby_0069's Avatar"/></a>
				<div class="txt">
					<a class="title" href="http://us.rd.yahoo.com/Updates/wisteria/SIG=17f5m3sc3/*http%3A//shine.yahoo.com/blog/ausMW48KjBPsECGx1NP.3xkZVU1NuCK7mFU7m/">About Me</a>
					<cite>by <a class="author" href="/blog/ausMW48KjBPsECGx1NP.3xkZVU1NuCK7mFU7m/">bi_baby_0069</a> <span title="Fri Dec 19, 2008 11:13pm PST" class="rel-time">12 minutes ago</span></cite>
					
				</div>
			</li>
			<li>
				<a class="img" href="/blog/a3EKD9yGQds7hNGs9QcMx3LWntsu4ByNS/"><img width="32" height="32" class="lz" src="http://l.yimg.com/img.avatars.yahoo.com/users/1Af1A62qlAAEDigNxobNiCw==.medium.jpg" alt="Nestle's Avatar"/></a>
				<div class="txt">
					<a class="title" href="http://us.rd.yahoo.com/Updates/wisteria/SIG=177tvd8kq/*http%3A//shine.yahoo.com/blog/a3EKD9yGQds7hNGs9QcMx3LWntsu4ByNS/">About Me</a>
					<cite>by <a class="author" href="/blog/a3EKD9yGQds7hNGs9QcMx3LWntsu4ByNS/">Nestle</a> <span title="Fri Dec 19, 2008 11:04pm PST" class="rel-time">21 minutes ago</span></cite>
					
				</div>
			</li>

		</ul>
	</div>
	<div class="ft"><a class="more" href="/chatter/">See More Chatter »</a></div>
</div>

<script charset="UTF-8" type="text/javascript">YAHOO.Lifestyles.ImageLoader.delayByView({el:"ylf-vitality", cl:"lz", imgs:["http://f3.yahoofs.com/coreid/48081d11i5fbzul2sp1/RZiYObMjdKWKE.pfuJaRG6G3tXfJU5p20RiecdA-/1/tn32.jpg?ciAwiiJBD7xNDS7c","http://us.i1.yimg.com/us.yimg.com/i/identity/nopic_32.gif","http://us.i1.yimg.com/us.yimg.com/i/identity/nopic_32.gif","http://l.yimg.com/img.avatars.yahoo.com/users/1wPOvpxu9AAIBCGN0jCB0BukkHX2kpw==.medium.jpg","http://f5.yahoofs.com/coreid/494c94a8i1d92zul3re3/zcpiUcszcpknsuKeod4PCZPfDUQ-/1/tn32.jpg?ciAwiiJBa8iph9sB","http://l.yimg.com/img.avatars.yahoo.com/users/1Af1A62qlAAEDigNxobNiCw==.medium.jpg"]});</script>

			
<div class="mod line" id="ylf-pick">
	<div class="hd"><h2>beauty pick of the day</h2></div>
	<div class="bd">
		<a class="img" href="/channel/beauty/youre-blow-drying-your-hair-the-wrong-way-327295/"><img width="300" height="172" class="lz" src="http://l.yimg.com/jn/util/anysize/300*172c-86400,http%3A%2F%2Fl.yimg.com%2Fa%2Fi%2Fus%2Fshine%2Ffashion%2F300.yellow_bird.jpg" alt="You are blow-drying your hair the wrong way"/></a>
		<h3><a href="/channel/beauty/youre-blow-drying-your-hair-the-wrong-way-327295/">You are blow-drying your hair the wrong way</a></h3>
		<ul class="thumbs">
			<li>
				<div class="txt">
					<a href="/channel/beauty/youre-blow-drying-your-hair-the-wrong-way-327295/">In one of my favorite posts from Lucky magazine, beauty editor Cristina Mueller reveals an expert trick for follicular drying. It's really good.</a>
					
				</div>
			</li>
		</ul>
	</div>
	<div class="ft"/>
</div>

<script charset="UTF-8" type="text/javascript">YAHOO.Lifestyles.ImageLoader.delayByView({el:"ylf-pick", cl:"lz", imgs:["http://l.yimg.com/jn/util/anysize/300*172c-86400,http%3A%2F%2Fl.yimg.com%2Fa%2Fi%2Fus%2Fshine%2Ffashion%2F300.yellow_bird.jpg"]});</script>


			<div class="mod" id="ylf-byte">
				
<div class="mod line" id="ylf-ad">
	<div class="hd"><h2>Health Byte</h2></div>
	<div class="bd">
		<p>Do have what it takes to be a great workout buddy?</p>
	</div>
	<div class="ft"><a class="more" href="/channel/health/8-traits-of-a-great-workout-buddy-333671/">Here are the 8 essential traits of the best exercise partners. »</a></div>
</div>

				<div id="ylf-btn2">
					<!-- SpaceID=967143001 loc=BTN2 noad -->
<script language="javascript">
if(window.yzq_d==null)window.yzq_d=new Object();
window.yzq_d['bQmYadj8ek4-']='&U=12cqq4256%2fN%3dbQmYadj8ek4-%2fC%3d-1%2fD%3dBTN2%2fB%3d-1%2fV%3d0';
</script><noscript><img width=1 height=1 alt="" src="http://us.bc.yahoo.com/b?P=GEZLZGKIKqhcbnXdSUWfnhRxTPzY.ElMnhkABNi9&T=142n1i0gc%2fX%3d1229757977%2fE%3d967143001%2fR%3dyliving%2fK%3d5%2fV%3d2.1%2fW%3dH%2fY%3dYAHOO%2fF%3d2416456036%2fQ%3d-1%2fS%3d1%2fJ%3dC8ABA342&U=12cqq4256%2fN%3dbQmYadj8ek4-%2fC%3d-1%2fD%3dBTN2%2fB%3d-1%2fV%3d0"></noscript>
				</div>
			</div>

			
<div class="mod line" id="ylf-discover">
	<div class="hd"><h2>More on Yahoo!</h2></div>
	<div class="bd">
		<ul class="thumbs">
			
			<li>
				<a class="img" href="http://us.rd.yahoo.com/evt=55011/*http://health.yahoo.com/cervicalcancer-prevention/cervical-cancer-vaccine-who-needs-it-how-it-works/mayoclinic--B4EDA714-E7FF-0DBD-1F55CF0E5102E329.html"><img width="74" height="74" class="lz" src="http://l.yimg.com/jn/images/20081208112220/lz.png" alt="Who Needs the HPV Vaccine?"/></a>
				<div class="txt">
					<h4><a class="title" href="http://us.rd.yahoo.com/evt=55011/*http://health.yahoo.com/cervicalcancer-prevention/cervical-cancer-vaccine-who-needs-it-how-it-works/mayoclinic--B4EDA714-E7FF-0DBD-1F55CF0E5102E329.html">Who Needs the HPV Vaccine?</a></h4>
					<a class="more" href="http://us.rd.yahoo.com/evt=55011/*http://health.yahoo.com/cervicalcancer-prevention/cervical-cancer-vaccine-who-needs-it-how-it-works/mayoclinic--B4EDA714-E7FF-0DBD-1F55CF0E5102E329.html">More on Yahoo! Health »</a>
				</div>
			</li>
			<li>
				<a class="img" href="http://shopping.yahoo.com/seasonals/holidays/top-10-gifts-under-$25--784724723"><img width="74" height="74" class="lz" src="http://l.yimg.com/jn/images/20081208112220/lz.png" alt="Top Gifts Under $25"/></a>
				<div class="txt">
					<h4><a class="title" href="http://shopping.yahoo.com/seasonals/holidays/top-10-gifts-under-$25--784724723">Top Gifts Under $25</a></h4>
					<a class="more" href="http://shopping.yahoo.com/seasonals/holidays/top-10-gifts-under-$25--784724723">More on Yahoo! Shopping »</a>
				</div>
			</li>
			<li>
				<a class="img" href="http://shopping.yahoo.com/articles/yshoppingarticles/130/wacky-beauty-tips-that-work/"><img width="74" height="74" class="lz" src="http://l.yimg.com/jn/images/20081208112220/lz.png" alt="Wacky Beauty Tips That Work"/></a>
				<div class="txt">
					<h4><a class="title" href="http://shopping.yahoo.com/articles/yshoppingarticles/130/wacky-beauty-tips-that-work/">Wacky Beauty Tips That Work</a></h4>
					<a class="more" href="http://shopping.yahoo.com/articles/yshoppingarticles/130/wacky-beauty-tips-that-work/">More on Yahoo! Shopping »</a>
				</div>
			</li>
			<li>
				<a class="img" href="http://us.rd.yahoo.com/evt=55011/*http://health.yahoo.com/depression-prevention/chronic-stress-can-it-cause-depression/mayoclinic--ACA4A132-2A5D-9994-E6C4E01A48F09A7D.html"><img width="74" height="74" class="lz" src="http://l.yimg.com/jn/images/20081208112220/lz.png" alt="Can Stress Cause Depression?"/></a>
				<div class="txt">
					<h4><a class="title" href="http://us.rd.yahoo.com/evt=55011/*http://health.yahoo.com/depression-prevention/chronic-stress-can-it-cause-depression/mayoclinic--ACA4A132-2A5D-9994-E6C4E01A48F09A7D.html">Can Stress Cause Depression?</a></h4>
					<a class="more" href="http://us.rd.yahoo.com/evt=55011/*http://health.yahoo.com/">More on Yahoo! Health »</a>
				</div>
			</li>
		</ul>
	</div>
	<div class="ft"/>
</div>

<script charset="UTF-8" type="text/javascript">YAHOO.Lifestyles.ImageLoader.delayByView({el:"ylf-discover", cl:"lz", imgs:["http://l.yimg.com/jn/util/anysize/74*74c-86400,http%3A%2F%2Fl.yimg.com%2Fa%2Fi%2Fus%2Fhealth%2Fhpv.jpg","http://l.yimg.com/jn/util/anysize/74*74c-86400,http%3A%2F%2Fl.yimg.com%2Fa%2Fi%2Fus%2Fshine%2Fshopping_72208_..jpg","http://l.yimg.com/jn/util/anysize/74*74c-86400,http%3A%2F%2Fl.yimg.com%2Fa%2Fi%2Fus%2Fshine%2Fshopping_111308.jpg","http://l.yimg.com/jn/util/anysize/74*74c-86400,http%3A%2F%2Fl.yimg.com%2Fa%2Fi%2Fus%2Fent%2Fpulse%2F74.accepting-yourself.jpg"]});</script>


			<div id="ylf-lrec2">
				<table cellspacing="0" cellpadding="0" border="0" class="ad_slug_table"><tbody><tr><td align="center"><span class="ad_slug"><font size="-2" face="Arial" class="ad_slug_font">ADVERTISEMENT</font><br/></span>
<!--Vendor: Doubleclick, Format: Polite -->
<script language="javascript" type="text/javascript">var YAHOO = YAHOO || {};YAHOO.RT = YAHOO.RT || {};YAHOO.RT.ADS = YAHOO.RT.ADS || {};function rtAd_endTime(fName){var et = fName + "_endTime";YAHOO.RT.ADS[et] = Number(new Date());}function rtAd_startTime(){this.fName = "";this.url = "";this.startTime = function(){var fr = document.getElementById(this.fName);if(fr) {var st = this.fName + "_startTime";YAHOO.RT.ADS[st] = Number(new Date());fr.src=this.url;}}}function rtAd_write(content, adurl, id){document.write(content);YAHOO.RT.ADS['startTimeObj_'+id] = new rtAd_startTime();YAHOO.RT.ADS['startTimeObj_'+id].fName = id;YAHOO.RT.ADS['startTimeObj_'+id].url = adurl;window.setTimeout("YAHOO.RT.ADS['startTimeObj_"+id+"'].startTime()", 1);}
var ran = Number(new Date());var rt_ad_content ='<iframe id="rt_id_'+ran+'" ONLOAD="rtAd_endTime(\'rt_id_'+ran+'\')"  WIDTH=300 HEIGHT=250 MARGINWIDTH=0 MARGINHEIGHT=0 HSPACE=0 VSPACE=0 FRAMEBORDER=0 SCROLLING=no BORDERCOLOR="#000000"><SCRIPT language="JavaScript1.1" ><\/SCRIPT><NOSCRIPT><A HREF="http://us.ard.yahoo.com/SIG=153128gp0/M=696755.13079552.13280256.11942150/D=yliving/S=967143001:LREC/Y=YAHOO/EXP=1229765177/L=GEZLZGKIKqhcbnXdSUWfnhRxTPzY.ElMnhkABNi9/B=bwmYadj8ek4-/J=1229757977356660/A=5541661/R=0/SIG=13avq3o1m/*http://ad.doubleclick.net/jump/N3340.Yahoo/B3184057.4;abr=!ie4;abr=!ie5;sz=300x250;ord=1229757977356660?"><IMG  BORDER=0 WIDTH=300 HEIGHT=250 ALT="Click Here"></A></NOSCRIPT></IFRAME>';
var rt_ad_id = "rt_id_"+ran;
var rt_ad_url = "http://ad.doubleclick.net/adi/N3340.Yahoo/B3184057.4;sz=300x250;dcopt=rcl;mtfIFrameRequest=false;click=http://us.ard.yahoo.com/SIG=153128gp0/M=696755.13079552.13280256.11942150/D=yliving/S=967143001:LREC/Y=YAHOO/EXP=1229765177/L=GEZLZGKIKqhcbnXdSUWfnhRxTPzY.ElMnhkABNi9/B=bwmYadj8ek4-/J=1229757977356660/A=5541661/R=1/*;ord=1229757977356660?";
rtAd_write(rt_ad_content, rt_ad_url, rt_ad_id);
</script><iframe width="300" scrolling="no" height="250" frameborder="0" bordercolor="#000000" vspace="0" hspace="0" marginheight="0" marginwidth="0" onload="rtAd_endTime('rt_id_1229758039612')" id="rt_id_1229758039612" src="http://ad.doubleclick.net/adi/N3340.Yahoo/B3184057.4;sz=300x250;dcopt=rcl;mtfIFrameRequest=false;click=http://us.ard.yahoo.com/SIG=153128gp0/M=696755.13079552.13280256.11942150/D=yliving/S=967143001:LREC/Y=YAHOO/EXP=1229765177/L=GEZLZGKIKqhcbnXdSUWfnhRxTPzY.ElMnhkABNi9/B=bwmYadj8ek4-/J=1229757977356660/A=5541661/R=1/*;ord=1229757977356660?"><SCRIPT language="JavaScript1.1" ></SCRIPT><NOSCRIPT><A HREF="http://us.ard.yahoo.com/SIG=153128gp0/M=696755.13079552.13280256.11942150/D=yliving/S=967143001:LREC/Y=YAHOO/EXP=1229765177/L=GEZLZGKIKqhcbnXdSUWfnhRxTPzY.ElMnhkABNi9/B=bwmYadj8ek4-/J=1229757977356660/A=5541661/R=0/SIG=13avq3o1m/*http://ad.doubleclick.net/jump/N3340.Yahoo/B3184057.4;abr=!ie4;abr=!ie5;sz=300x250;ord=1229757977356660?"><IMG  BORDER=0 WIDTH=300 HEIGHT=250 ALT="Click Here"></A></NOSCRIPT></iframe>
<noscript>
<IFRAME SRC="http://ad.doubleclick.net/adi/N3340.Yahoo/B3184057.4;sz=300x250;dcopt=rcl;mtfIFrameRequest=false;click=http://us.ard.yahoo.com/SIG=153128gp0/M=696755.13079552.13280256.11942150/D=yliving/S=967143001:LREC/Y=YAHOO/EXP=1229765177/L=GEZLZGKIKqhcbnXdSUWfnhRxTPzY.ElMnhkABNi9/B=bwmYadj8ek4-/J=1229757977356660/A=5541661/R=2/*;ord=1229757977356660?" WIDTH=300 HEIGHT=250 MARGINWIDTH=0 MARGINHEIGHT=0 HSPACE=0 VSPACE=0 FRAMEBORDER=0 SCROLLING=no BORDERCOLOR='#000000'>
<A HREF="http://us.ard.yahoo.com/SIG=153128gp0/M=696755.13079552.13280256.11942150/D=yliving/S=967143001:LREC/Y=YAHOO/EXP=1229765177/L=GEZLZGKIKqhcbnXdSUWfnhRxTPzY.ElMnhkABNi9/B=bwmYadj8ek4-/J=1229757977356660/A=5541661/R=3/SIG=13avq3o1m/*http://ad.doubleclick.net/jump/N3340.Yahoo/B3184057.4;abr=!ie4;abr=!ie5;sz=300x250;ord=1229757977356660?"><IMG SRC="http://ad.doubleclick.net/ad/N3340.Yahoo/B3184057.4;abr=!ie4;abr=!ie5;sz=300x250;ord=1229757977356660?" BORDER=0 WIDTH=300 HEIGHT=250 ALT="Click Here"></A></IFRAME>
</noscript></td></tr></tbody></table><script language="javascript">
if(window.yzq_d==null)window.yzq_d=new Object();
window.yzq_d['bwmYadj8ek4-']='&U=13gu4nnb5%2fN%3dbwmYadj8ek4-%2fC%3d696755.13079552.13280256.11942150%2fD%3dLREC%2fB%3d5541661%2fV%3d1';
</script><noscript><img width=1 height=1 alt="" src="http://us.bc.yahoo.com/b?P=GEZLZGKIKqhcbnXdSUWfnhRxTPzY.ElMnhkABNi9&T=142ne81fk%2fX%3d1229757977%2fE%3d967143001%2fR%3dyliving%2fK%3d5%2fV%3d2.1%2fW%3dH%2fY%3dYAHOO%2fF%3d1739570732%2fQ%3d-1%2fS%3d1%2fJ%3dC8ABA342&U=13gu4nnb5%2fN%3dbwmYadj8ek4-%2fC%3d696755.13079552.13280256.11942150%2fD%3dLREC%2fB%3d5541661%2fV%3d1"></noscript>
			</div>
			
			
<div class="iysmcm ysmcm" id="ylf-ysm-side">
    <h3>Sponsored Links</h3>
    <ul class="iysmcm-col ysmcm-col ysmcm-col1"><li><h4><a href="http://rc.us-west.srv.overture.com/d/sr/?xargs=20AKxVSf0l0A2or_uX44NCS-z6oOR83n1pIoaOBYsrynOwRyXmSGuML6rFNVl3YmtAZGimHsA_A9la6fkRC3Am2azbPXJho-jyFiSzlKNBRs7QNjo_gVrK-TnrmfNvqo-e-RhOQSG3TxOn_1AzfYK0IM4ZkoLFX6n5hzqfxnxsTknpMr8CKHWRdyIcK0Y8ebs-Kz3KzeM9C4bznkpb1g_LZddIdA7w8KPkGKa6wxi4rd9WYBiDOswQQENu-eki8LlK-COKUh9N-yWCn4XnSF5Oqdc.0000000073a31990">acne skin care treatment product</a></h4><p class="iysmcm-desc ysmcm-desc"><a href="http://rc.us-west.srv.overture.com/d/sr/?xargs=20AKxVSf0l0A2or_uX44NCS-z6oOR83n1pIoaOBYsrynOwRyXmSGuML6rFNVl3YmtAZGimHsA_A9la6fkRC3Am2azbPXJho-jyFiSzlKNBRs7QNjo_gVrK-TnrmfNvqo-e-RhOQSG3TxOn_1AzfYK0IM4ZkoLFX6n5hzqfxnxsTknpMr8CKHWRdyIcK0Y8ebs-Kz3KzeM9C4bznkpb1g_LZddIdA7w8KPkGKa6wxi4rd9WYBiDOswQQENu-eki8LlK-COKUh9N-yWCn4XnSF5Oqdc.0000000073a31990">Exclusive Website Devoted to acne skin care treatment product.</a></p><a class="iysmcm-url ysmcm-url yltasis" href="http://rc.us-west.srv.overture.com/d/sr/?xargs=20AKxVSf0l0A2or_uX44NCS-z6oOR83n1pIoaOBYsrynOwRyXmSGuML6rFNVl3YmtAZGimHsA_A9la6fkRC3Am2azbPXJho-jyFiSzlKNBRs7QNjo_gVrK-TnrmfNvqo-e-RhOQSG3TxOn_1AzfYK0IM4ZkoLFX6n5hzqfxnxsTknpMr8CKHWRdyIcK0Y8ebs-Kz3KzeM9C4bznkpb1g_LZddIdA7w8KPkGKa6wxi4rd9WYBiDOswQQENu-eki8LlK-COKUh9N-yWCn4XnSF5Oqdc.0000000073a31990">SkinProducts.GreatWellBeing.com</a></li><li class="ysmcm-odd"><h4><a href="http://rc.us-west.srv.overture.com/d/sr/?xargs=20AD7T3U8WVTOcKpCC3A1fggcmJ4SCIuXnTvZSIA_RAgeqhADVUC5y2MqL0137-GoErIXLVZhidu2H5TFPWB1zf2VvB_g25zSdVmT5dXWukCfK8CjWnQC7buX_6v5jN8Vg59voRXS5N0MImXRwC-3LW24P6A9h1DhtJgOwY7j3G4kmUyBg5b1rua890ismYnybefuqgZFfKAX2j_m7YFxtIWERtCTrtDSrZaoVzvA5cz4W.0000000073a31990">Treat Skin Problems</a></h4><p class="iysmcm-desc ysmcm-desc"><a href="http://rc.us-west.srv.overture.com/d/sr/?xargs=20AD7T3U8WVTOcKpCC3A1fggcmJ4SCIuXnTvZSIA_RAgeqhADVUC5y2MqL0137-GoErIXLVZhidu2H5TFPWB1zf2VvB_g25zSdVmT5dXWukCfK8CjWnQC7buX_6v5jN8Vg59voRXS5N0MImXRwC-3LW24P6A9h1DhtJgOwY7j3G4kmUyBg5b1rua890ismYnybefuqgZFfKAX2j_m7YFxtIWERtCTrtDSrZaoVzvA5cz4W.0000000073a31990">Learn about Psoriasis & ways to treat this & other skin problems.</a></p><a class="iysmcm-url ysmcm-url yltasis" href="http://rc.us-west.srv.overture.com/d/sr/?xargs=20AD7T3U8WVTOcKpCC3A1fggcmJ4SCIuXnTvZSIA_RAgeqhADVUC5y2MqL0137-GoErIXLVZhidu2H5TFPWB1zf2VvB_g25zSdVmT5dXWukCfK8CjWnQC7buX_6v5jN8Vg59voRXS5N0MImXRwC-3LW24P6A9h1DhtJgOwY7j3G4kmUyBg5b1rua890ismYnybefuqgZFfKAX2j_m7YFxtIWERtCTrtDSrZaoVzvA5cz4W.0000000073a31990">www.parade.com/psoriasis</a></li><li><h4><a href="http://rc.us-west.srv.overture.com/d/sr/?xargs=20ADnzjhopgHwga1hgKp0-kwv1CB4FKpKJUnqyRx-WTTVzIcsYUyki13FkauuL5diFHQCDlt9D4Cnh06IdgRoMTiqovlaeeqnfIwArvYqsrWWxU1IEca4FsiMBvty3yew1sp-kwmyQDBGdM-MfBz63gfsxxAT_D4zWaGQzUmkFvLWHcxkSuEVEFsH0swtkBiC0f1XqsmG2GjRtjQ6KJzpx0snN3j9W1x6kYDRm1DU8qJxgr-hcvdQ5g4ck_43I7HfEwg.0000000073a31990">skin treatment</a></h4><p class="iysmcm-desc ysmcm-desc"><a href="http://rc.us-west.srv.overture.com/d/sr/?xargs=20ADnzjhopgHwga1hgKp0-kwv1CB4FKpKJUnqyRx-WTTVzIcsYUyki13FkauuL5diFHQCDlt9D4Cnh06IdgRoMTiqovlaeeqnfIwArvYqsrWWxU1IEca4FsiMBvty3yew1sp-kwmyQDBGdM-MfBz63gfsxxAT_D4zWaGQzUmkFvLWHcxkSuEVEFsH0swtkBiC0f1XqsmG2GjRtjQ6KJzpx0snN3j9W1x6kYDRm1DU8qJxgr-hcvdQ5g4ck_43I7HfEwg.0000000073a31990">Ratings and reviews for skin care centers in & around San Francisco.</a></p><a class="iysmcm-url ysmcm-url yltasis" href="http://rc.us-west.srv.overture.com/d/sr/?xargs=20ADnzjhopgHwga1hgKp0-kwv1CB4FKpKJUnqyRx-WTTVzIcsYUyki13FkauuL5diFHQCDlt9D4Cnh06IdgRoMTiqovlaeeqnfIwArvYqsrWWxU1IEca4FsiMBvty3yew1sp-kwmyQDBGdM-MfBz63gfsxxAT_D4zWaGQzUmkFvLWHcxkSuEVEFsH0swtkBiC0f1XqsmG2GjRtjQ6KJzpx0snN3j9W1x6kYDRm1DU8qJxgr-hcvdQ5g4ck_43I7HfEwg.0000000073a31990">sanfrancisco.citysearch.com</a></li><li class="ysmcm-odd"><h4><a href="http://rc.us-west.srv.overture.com/d/sr/?xargs=20AFPt5MYpw8omkNsjx_RALthZ_VQPL7bX9vdn1GGlZp8USNJLf6DzY0gq3WeeXY95FiQrAawggTFoSBjiIp-_j5Y0X5dja6SzL5t9fejnhdkhRnQ1CIs1OgfPR0_jvtA7W9XW5vvY0RsaJrev7YV9VRXTHoq5bjh6TCpYow-9rsrkzwQEK2V-6Rt8Q-dMEEjjt9lZH0zbTW1A_FAiyt9Y41EUBVmgydpUmMziYspWXmVK.0000000073a31990">Carol's Daughter - Skin</a></h4><p class="iysmcm-desc ysmcm-desc"><a href="http://rc.us-west.srv.overture.com/d/sr/?xargs=20AFPt5MYpw8omkNsjx_RALthZ_VQPL7bX9vdn1GGlZp8USNJLf6DzY0gq3WeeXY95FiQrAawggTFoSBjiIp-_j5Y0X5dja6SzL5t9fejnhdkhRnQ1CIs1OgfPR0_jvtA7W9XW5vvY0RsaJrev7YV9VRXTHoq5bjh6TCpYow-9rsrkzwQEK2V-6Rt8Q-dMEEjjt9lZH0zbTW1A_FAiyt9Y41EUBVmgydpUmMziYspWXmVK.0000000073a31990">beauty by nature - Highly Natural Skin Products. Free Shipping.</a></p><a class="iysmcm-url ysmcm-url yltasis" href="http://rc.us-west.srv.overture.com/d/sr/?xargs=20AFPt5MYpw8omkNsjx_RALthZ_VQPL7bX9vdn1GGlZp8USNJLf6DzY0gq3WeeXY95FiQrAawggTFoSBjiIp-_j5Y0X5dja6SzL5t9fejnhdkhRnQ1CIs1OgfPR0_jvtA7W9XW5vvY0RsaJrev7YV9VRXTHoq5bjh6TCpYow-9rsrkzwQEK2V-6Rt8Q-dMEEjjt9lZH0zbTW1A_FAiyt9Y41EUBVmgydpUmMziYspWXmVK.0000000073a31990">CarolsDaughter.com</a></li></ul>
    
    <div/>
</div>


			<div id="ylf-mip">
						<iframe frameborder="0" id="ylf-darla-MIP"/>
		<script type="text/javascript" language="javascript">
		YAHOO.namespace('YAHOO.Lifestyles.MM');
		YAHOO.Lifestyles.MM.loadedMIP = false;
		YAHOO.Lifestyles.MM.loadAdsMIP = function() {
			if (window.YAHOO.ads.darla) {
				YAHOO.ads.darla.setConfig ({ callFrame:"ylf-darla-MIP", callScript:"/darla-fc", rotation:0, autoRotation:false, property:"yliving", destinationMap:{}, events: { "eventMIP":{ lv:2, npv:true, sp:"967143001", ps:"MIP", em:escape('{"site-attribute":"content=no-expandable;", "ad-logoption":"NOINVENTORY"}') } } });
				YAHOO.ads.darla.event ('eventMIP', { lv:2 } );
				YAHOO.util.Event.removeListener( window, "scroll", YAHOO.Lifestyles.MM.loadAdsMIP);
			}
		}
		YAHOO.util.Event.addListener( window, "load", function() { YAHOO.util.Event.addListener( window, "scroll", function() { if(YAHOO.Lifestyles.MM.loadedMIP === false) { YAHOO.Lifestyles.MM.loadedMIP = true; setTimeout(YAHOO.Lifestyles.MM.loadAdsMIP,0); } } ); });</script>
			</div>

		</div>