	<tr id="<%= h slot.id %>">
<td class="date"><span class="rel-time" title="<%=h slot.created_at.to_s(:long) %>">
<%= 	h slot.updated_at.strftime("%m/%d/%Y")

 %> | <%= time_ago_in_words(slot.updated_at) %> ago</span></td>
<td class="title"><div><%=h slot.title %></div></td>
<td class="status"><%# image_tag "mephisto/icons/#{status_icon[slot.status][1]}", :class => "#{status_icon[slot.status][0]} icon", :title => "This slot is #{slot.status}", :alt => "#{slot.status}" %></td>
<td class="channel"><a href="/slots" class="c-none">Volunteer Slots</a></td>
<td class="comments">
	<%# if slot.comments.size == 0 %>
      none
    <%# else %>
      <%# link_to slot.comments.size.to_s.rjust(2, '0'), slot_comments_path(slot) %>
    <%# end %>
    
</td>
<td class="actions">
	<%= link_to 'view', slot %>
    <%= link_to 'edit', edit_slot_path(slot) %>
    <%= link_to 'delete', slot, :confirm => 'Are you sure?', :method => :delete %>
    
</td>

