<li class="post">
		<div class="post-title cls"><h2> <%= link_to slot_summary.title, slot_path(slot_summary) %></h2></div>
		<div class="author cls">
			<a href="/blog/a15ildJqXGpidmE1rbtDsoFBVvxWMjFBUsqSr9_P0aepDW21j/">
				<img src="/images/userIconBig.gif" alt="<%= current_user.login %>" class="lz" height="32" width="32">
			</a> 
			<p class="badge editor"><span>editor</span></p> 
			<cite>By <%= link_to current_user.login, user_path(current_user) %>, on <%= d = slot_summary.created_at; d.strftime("%A, %B %d, %Y" ) %></cite>
		</div>
		<div class="excerpt mod cls">
				<%= truncate(simple_format(slot_summary.body), 500) %>
				<p>
					<%= link_to "Read More »", slot_path(slot_summary), :class => "more" %>
				</p>
			<div class="clrie6"><!-- --></div>
		</div>
		
		<div class="tools">
			<ul class="cls">
				<li class="cmts"><span class="icon"><!-- --></span><span>Let’s talk:</span> <%= link_to "Comment (" + remarks_count("Slot", slot_summary.id).size.to_s + ")",       new_slot_remark_path(slot_summary), :class => "cmt-lnk" %>
				<%#  | <li class="email"><span class="icon"><!-- --></span><a href="/write/">Blog</a></li> ## To be added after all member may blog %>
					<%# <a href="/email-to-friend?id=358234&amp;title=Red+Carpet+Fashion%3A+The+Best%2C+Worst%2C+and+everything+in+between+at+the+SAG+Awards&amp;channel=beauty&amp;event=">Email to a Friend</a> ## To be added after  %>
				</li> 
			</ul>
		</div>
		
	</li>