<ul class="links cls">
	<li class="first">
		<%= link_to 'Edit Slot', edit_slot_path(@slot) %> 
	</li>
</ul>
<p>
  <b>User:</b>
  <%=h @slot.user_id %>
</p>

<p>
  <b>Name:</b>
  <%=h @slot.title %>
</p>

<p>
  <b>Body:</b>
  <%= @slot.body %>
</p>

<p>
  <b>Created:</b>
  <%=h @slot.created_at %>
</p>


<%= link_to 'Edit Slot', edit_slot_path(@slot) %> |
<%= link_to 'Back', slots_path %>
