		<div class="main" id="ylf-blog-main">
<<<<<<< HEAD:app/views/slots/show.html.erb
		
			
<div id="ylf-hdrbar" class="cls">

	
	
	<p><%= Time.now.strftime("%B %d, %Y") %> 
	</p>
	
	<ul class="feeds cls"><li class="first"><a href="/subscriptions/add?yuid=anwouQPymWso8WG8iFqtnw91mGyHG6_dA8GqYShs7YWtKiQvg&amp;display_name=CaptProton%26rsquo%3Bs" class="subscribe"><span><!-- --></span>Subscribe to This Blog</a></li><li><a href="http://add.my.yahoo.com/rss?url=http%3A%2F%2Fshine.yahoo.com%2Frss%2Fblog%2Fchannel%2Fnone%2F" class="myyahoo" title="My Yahoo!"><span><!-- --></span>Add to My Yahoo!</a></li><li><a href="http://shine.yahoo.com/rss/blog/channel/none/" class="rss" title="RSS"><span><!-- --></span>RSS</a></li></ul>

</div>


			
			

			
<div id="ylf-blogpost" class="cls">
	

	<div class="post-hdr cls">
		<div class="post-title cls">
			<h1><%=h @slot.title %></h1>
			
		</div>
		<div class="attr cls readmore">
			<a href="/blog/anwouQPymWso8WG8iFqtnw91mGyHG6_dA8GqYShs7YWtKiQvg/"><img src="http://f3.yahoofs.com/coreid/48081d11i5fbzul2sp1/RZiYObMjdKWKE.pfuJaRG6G3tXfJU5p20RiecdA-/1/tn32.jpg?ciAwiiJBD7xNDS7c" height="32" width="32"></a>
			<ul>
				<li>updated by <a href="/blog/anwouQPymWso8WG8iFqtnw91mGyHG6_dA8GqYShs7YWtKiQvg/"><span class="author alias"><%= @slot.user.login %></span></a>, <span class="rel-time" title="<%= @slot.updated_at %>"><%= time_ago_in_words(@slot.updated_at) %> ago</span></li>
				<li class="last">
					<%= link_to "Read More from This Author »", user_path(@slot.user) %>
				</li>
			</ul>
			<ul>
				
				<li><a href="#postcomment" class="cmt-lnk">Post a Comment</a></li>
				<li class="last"><a href="/">Report Abuse</a></li>
			</ul>
		</div>
	</div>

  	
  
	<div class="post-body cls">
<%= @slot.body %>
	</div>

	

	<p class="related"><strong>Related:</strong> <a href="/topic/song/">tags</a>, <a href="/topic/christmas/">go</a>, <a href="/topic/chorus/">here</a></p>

</div>


	
			<div class="tools"><ul class="cls"><li class="cmts"><span class="icon"><!-- --></span><span>Let’s talk:</span> <a href="#comments" class="cmt-lnk">Comment (0)</a> | <%= link_to "Slot Publisher", user_path(current_user) %></li><li class="email"><span class="icon"><!-- --></span><a href="/email-to-friend?id=335584&amp;title=The+goose+is+getting+fat.&amp;channel=none&amp;event=">Email to a Friend</a></li><li class="print"><span class="icon"><!-- --></span><%= link_to "Print this Page", slot_path(@slot) %></li></ul></div>
			<div class="line"><!-- --></div>
=======
			<div id="ylf-hdrbar" class="cls">
				<p>
					<%= Time.now.strftime("%B %d, %Y") %>
				</p>
				<ul class="feeds cls">
					<!-- Link to be added when backpack is designed <li><a href="http://add.my.yahoo.com/rss?url=http%3A%2F%2Fshine.yahoo.com%2Frss%2Fblog%2Fchannel%2Fnone%2F" class="myyahoo" title="My Favorites"><span></span>Add to My favorites!</a></li> -->
					<li>
						<!-- <a href="http://shine.yahoo.com/rss/blog/channel/none/" class="rss" title="RSS"><span></span>RSS</a> -->
					</li>
				</ul>
			</div>
			<div id="ylf-blogpost" class="cls">
				<div class="post-hdr cls">
					<div class="post-title cls">
						<h1>
							<%=h @slot.title %>
						</h1>
					</div>
					<div class="attr cls readmore">
						<%= link_to image_tag("userIconBig.gif", :width => "48", :height => "48", :alt => "avatar"), user_path(current_user), :class => "avatar" %>
>>>>>>> Slot:app/views/slots/show.html.erb
						
						<ul>
							<li>Last updated by <%= link_to current_user.login, user_path(current_user) %>, <span class="rel-time" title="<%= @slot.updated_at %>"><%= time_ago_in_words(@slot.updated_at) %> ago</span>
							</li>
						</ul>
						<ul>
								 <li><a href="#postcomment" class="cmt-lnk">Post a Comment</a></li>
								<!-- <li class="last"><a href="/">Report Abuse</a></li> Enable after plugin installed -->
						</ul>
					</div>
				</div>
				<div class="post-body cls">
					<%= simple_format(@slot.body) %>

				</div>
				<p class="related">
					<strong>Related:</strong> <% if !@slot.topic_list.blank? %> <% for item in @slot.topic_list %> <% @tag = Tag.find_by_name(item) %> <%= link_to item, topic_path(@tag.id) %> <% end %> <% else %> none <% end %>
				</p>
			</div>
			<div class="tools">
				<ul class="cls">
					<li class="cmts">
						<span class="icon"><!-- --></span> <span>Let’s talk:</span> <%= link_to "Comment (" + @remarks.size.to_s + ")",       "#comments", :class => "cmt-lnk" %>  <!-- | spacer here --> <%# link_to "Blog", user_path(current_user) ##Consider after user blog section is built%>
					</li><%# <li class="email">
											<span class="icon"><!-- --></span>
											<a href="/email-to-friend?id=335584&amp;title=The+goose+is+getting+fat.&amp;channel=none&amp;event=">Email to a Friend</a>
										</li> ## after email controller built %><%# <li class="print">
											<span class="icon"><!-- --></span><%= link_to "Print this Page", slot_path(@slot) 
										</li> ## Enable after print css written.%>
				</ul>
			</div>
			<div class="line">
				<!-- -->
			</div>
			<div id="ylf-relatedlinks" class="line cls post-cols">
				<div class="col hlf-w full-w">
					<h3>
						related slots (jobs with similar interests will go here)
					</h3>
					<ol>
						<%# render :partial => 'related', :collection => @related %>
					</ol>
				</div>
				<div class="col hlf-e hlf-hidden"></div>
			</div>
			<div id="ylf-cmnts" class="mod">
				<h2 id="comments">
					From the Community&hellip;
				</h2>
				<div class="spgnav cls">
					<div class="count">
						<%= pluralize(@remarks.size, "Comment") %>
					</div>
				</div>
				<ul class="thumbs">
					<% if !@remarks.blank? %><% for remark in @remarks %>
					<li>
						<a href="" class="img"><img width="32" height="32" src="/images/userIconBig.gif" alt="<%= remark.user.login %>'s Avatar" class="lz"></a>
						<div class="txt">
							<cite>Posted by <a href="/"><span class="author"><%= remark.user.login %></span></a> <span class="rel-time" title="<%= remark.updated_at %>"><%= time_ago_in_words(remark.updated_at) %> ago</span></cite>
							<blockquote>
								<p>
									<%= simple_format(h remark.body) %>
								</p>
							</blockquote><!-- <a href="/" class="abuse">Report Abuse</a> -->
						</div>
					</li><% end %><% else %>
					<li style="list-style: none">
						<p>
							Be the first to comment on this post.
						</p><% end %>
					</li>
				</ul>
				<div class="spgnav cls">
					<div class="count">
						<%# pluralize(@remarks.size, "Comment") %>
					</div>
				</div>
				<div class="tools">
					<ul class="cls">
						<li class="cmts">
							<span class="icon"><!-- --></span> <span>Let’s talk:</span> <%= link_to "Comment (" + @remarks.size.to_s + ")",       slot_path(@slot, :anchor => "comments"), :class => "cmt-lnk" %> <!-- | spacer here --> <%# link_to "Blog", user_path(current_user) ##Consider after user blog section is built%>
						</li><%# <li class="email">
											<span class="icon"><!-- --></span>
											<a href="/email-to-friend?id=335584&amp;title=The+goose+is+getting+fat.&amp;channel=none&amp;event=">Email to a Friend</a>
										</li> ## after email controller built %><%# <li class="print">
											<span class="icon"><!-- --></span><%= link_to "Print this Page", slot_path(@slot) 
										</li> ## Enable after print css written.%>
					</ul>
				</div>
							<div id="cmt-form" class="cls">
					<h3 id="postcomment">leave your comment</h3>
					<% form_for [@slot, @remark] do |f| %>

					    <%= f.text_area :body, :rows => 7, :id => "content" %>
						<div class="ft">

										<div class="cid cid-name">
							<p>You will be seen as: <img id="avatar" class="avatar" src="/images/userIconBig.gif" alt="Your avatar" height="24" width="24"/> <strong id="nickName"><%= current_user.login %></strong></p>
						</div>

							<button type="submit">Post Comment</button>
						</div>
					<%# </form> %>
					<% end %>


						<p class="disclaimer">The information you provide on this page will be displayed publicly along with your display image and nickname.</p>
				</div>
				
				<div class="line">
					<!-- -->
				</div>
			</div>
		</div>
