<h1>Listing discussions</h1>

<table>
  <tr>
    <th>Remark</th>
    <th>Remarkable</th>
    <th>Commentator</th>
    <th>Commentator type</th>
    <th>Remarkable type</th>
    <th>Context</th>
  </tr>

<% for discussion in @discussions %>
  <tr>
    <td><%=h discussion.remark_id %></td>
    <td><%=h discussion.remarkable_id %></td>
    <td><%=h discussion.commentator_id %></td>
    <td><%=h discussion.commentator_type %></td>
    <td><%=h discussion.remarkable_type %></td>
    <td><%=h discussion.context %></td>
    <td><%= link_to 'Show', discussion %></td>
    <td><%= link_to 'Edit', edit_discussion_path(discussion) %></td>
    <td><%= link_to 'Destroy', discussion, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New discussion', new_discussion_path %>
