<p>
  <b>Remark:</b>
  <%=h @discussion.remark_id %>
</p>

<p>
  <b>Remarkable:</b>
  <%=h @discussion.remarkable_id %>
</p>

<p>
  <b>Commentator:</b>
  <%=h @discussion.commentator_id %>
</p>

<p>
  <b>Commentator type:</b>
  <%=h @discussion.commentator_type %>
</p>

<p>
  <b>Remarkable type:</b>
  <%=h @discussion.remarkable_type %>
</p>

<p>
  <b>Context:</b>
  <%=h @discussion.context %>
</p>


<%= link_to 'Edit', edit_discussion_path(@discussion) %> |
<%= link_to 'Back', discussions_path %>
