<h1>Editing article</h1>

<% form_for(@article) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :permalink %><br />
    <%= f.text_field :permalink %>
  </p>
  <p>
    <%= f.label :excerpt %><br />
    <%= f.text_area :excerpt %>
  </p>
  <p>
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.label :excerpt %><br />
    <%= f.text_field :excerpt %>
  </p>
  <p>
    <%= f.label :body %><br />
    <%= f.text_field :body %>
  </p>
  <p>
    <%= f.label :published_at %><br />
    <%= f.datetime_select :published_at %>
  </p>
  <p>
    <%= f.label :comment_age %><br />
    <%= f.text_field :comment_age %>
  </p>
  <p>
    <%= f.label :filter %><br />
    <%= f.text_field :filter %>
  </p>
  <p>
    <%= f.label :user_agent %><br />
    <%= f.text_field :user_agent %>
  </p>
  <p>
    <%= f.label :referrer %><br />
    <%= f.text_field :referrer %>
  </p>
  <p>
    <%= f.label :assets_count %><br />
    <%= f.text_field :assets_count %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @article %> |
<%= link_to 'Back', articles_path %>
