<h1>Listing articles</h1>

<table>
  <tr>
    <th>User</th>
    <th>Title</th>
    <th>Permalink</th>
    <th>Excerpt</th>
    <th>Body</th>
    <th>Excerpt</th>
    <th>Body</th>
    <th>Published at</th>
    <th>Comment age</th>
    <th>Filter</th>
    <th>User agent</th>
    <th>Referrer</th>
    <th>Assets count</th>
  </tr>

<% for article in @articles %>
  <tr>
    <td><%=h article.user_id %></td>
    <td><%=h article.title %></td>
    <td><%=h article.permalink %></td>
    <td><%=h article.excerpt %></td>
    <td><%=h article.body %></td>
    <td><%=h article.excerpt %></td>
    <td><%=h article.body %></td>
    <td><%=h article.published_at %></td>
    <td><%=h article.comment_age %></td>
    <td><%=h article.filter %></td>
    <td><%=h article.user_agent %></td>
    <td><%=h article.referrer %></td>
    <td><%=h article.assets_count %></td>
    <td><%= link_to 'Show', article %></td>
    <td><%= link_to 'Edit', edit_article_path(article) %></td>
    <td><%= link_to 'Destroy', article, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New article', new_article_path %>
