<p>
  <b>User:</b>
  <%=h @article.user_id %>
</p>

<p>
  <b>Title:</b>
  <%=h @article.title %>
</p>

<p>
  <b>Permalink:</b>
  <%=h @article.permalink %>
</p>

<p>
  <b>Excerpt:</b>
  <%=h @article.excerpt %>
</p>

<p>
  <b>Body:</b>
  <%=h @article.body %>
</p>

<p>
  <b>Excerpt:</b>
  <%=h @article.excerpt %>
</p>

<p>
  <b>Body:</b>
  <%=h @article.body %>
</p>

<p>
  <b>Published at:</b>
  <%=h @article.published_at %>
</p>

<p>
  <b>Comment age:</b>
  <%=h @article.comment_age %>
</p>

<p>
  <b>Filter:</b>
  <%=h @article.filter %>
</p>

<p>
  <b>User agent:</b>
  <%=h @article.user_agent %>
</p>

<p>
  <b>Referrer:</b>
  <%=h @article.referrer %>
</p>

<p>
  <b>Assets count:</b>
  <%=h @article.assets_count %>
</p>


<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
