			<li class="post"">
				
				<div class="post-title cls"><h2> <%= link_to slot.title, slot_path(slot) %></h2></div>
				<div class="author">
					<cite>By <%= link_to slot.user.login, user_path(slot.user) %>, <span class="rel-time" title="<%= slot.created_at %>"><%= slot.created_at %></span></cite>
				</div>
				<div class="excerpt mod cls">
					<p>
						<%- unless slot.excerpt
					      blurb = truncate(slot.body, 500)
					    else
					      blurb = slot.excerpt
					    end -%>
						<%= blurb %>
						<%= link_to "Read More &#187;", slot_path(slot),  :class => "more" %>
					</p>
					<div class="clrie6"><!-- --></div>
					</div>
						<p class="related"><strong>Related:</strong> 
							<% if !slot.topic_list.blank? %>
							  <% for topic in slot.topic_list %>
								<% @tag = Tag.find_by_name(topic) %>
							    <%= link_to topic, topic_path(@tag.id) %>  
							  <% end %>
							<% else %>
							  	none
							<% end %>
							
							<%# slot.topic_list.join(', ') ## find a more ruby way to create list of links with commas joining them %>
					</p>
					<div class="tools">
						<ul class="cls">
							<li class="cmts">
								<span class="icon"><!-- --></span>
								<span>Let&rsquo;s talk:</span> 
								<%= link_to "Comment (0)", slot_path(slot, :anchor => "comments"), :class => "cmt-lnk" %> <!-- | --> 
								<%# <a href="/write/;_ylt=As9CuzdmoFHU16wR.doU1XNcbqU5" >Blog</a> ## enable after mypages more developed %>
							</li>
							<%# <li class="email">
								<span class="icon"><!-- --></span>
								<a href="/email-to-friend;_ylt=Al2an4vPSOQ9H51_2A7T06ZcbqU5?id=353268&title=amazing+pilot&channel=none&event=" >Email to a Friend</a>
							</li> ## enable after email method written %>
						</ul>
					</div>

				</li>	