		<div class="side">
			<div class="mod" id="ylf-you">
				<div class="hd line cls">
					<%= link_to image_tag("http://f3.yahoofs.com/coreid/48081d11i5fbzul2sp1/RZiYObMjdKWKE.pfuJaRG6G3tXfJU5p20RiecdA-/1/tn48.jpg?ciAwiiJBUS2R48hq", :width => "48", :height => "48", :alt => "avatar"), user_path(current_user), :class => "avatar" %>
					<div class="greets boxed">
						<h3>
							hello, <%= current_user.login %>
						</h3><a href="/logout" class="first">Sign Out</a>
					</div>
				</div>
				<div class="bd line">
					<!--            <ul class="cls">
				<li class="email new"><a href="http://mail.yahoo.com/">Mail <span>254 New</span></a></li>
				<li title="Partly Cloudy" class="weath sep"><a style="background: rgb(255, 255, 255) url(http://l.yimg.com/jn/util/anysize/26*26c-86400,http%3A%2F%2Fl.yimg.com%2Fus.yimg.com%2Fi%2Fus%2Fwe%2F52%2F29.gif) no-repeat scroll 5px 0pt; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial;" href="http://us.rd.yahoo.com/dailynews/rss/weather/Pacifica__CA/*http://weather.yahoo.com/forecast/94044_f.html">45° F</a></li>
				<li class="horo sep"><a href="/astrology/">Horoscopes</a></li>
			</ul>
-->
					<p>
						Let’s shine: <%= link_to "My Jobs", user_path(current_user) %> <%= link_to "My Stuff", user_path(current_user) %> <%= link_to "Submit Job", :action => "new" if current_user.admin %>
					</p>
				</div>
			</div>
			<div class="line" id="ylf-lrec">
				<script language="javascript" type="text/javascript">
if(window.yzq_d==null)window.yzq_d=new Object();
				window.yzq_d['bgmYadj8ek4-']='&U=13g0s7m16%2fN%3dbgmYadj8ek4-%2fC%3d706654.13073556.13272621.11942150%2fD%3dLREC%2fB%3d5535398%2fV%3d1';
				</script><noscript><img width="1" height="1" alt="" src="http://us.bc.yahoo.com/b?P=GEZLZGKIKqhcbnXdSUWfnhRxTPzY.ElMnhkABNi9&amp;T=142to597j%2fX%3d1229757977%2fE%3d967143001%2fR%3dyliving%2fK%3d5%2fV%3d2.1%2fW%3dH%2fY%3dYAHOO%2fF%3d3519734267%2fQ%3d-1%2fS%3d1%2fJ%3dC8ABA342&amp;U=13g0s7m16%2fN%3dbgmYadj8ek4-%2fC%3d706654.13073556.13272621.11942150%2fD%3dLREC%2fB%3d5535398%2fV%3d1"></noscript>
			</div>
			<div id="ylf-pos-logo">
				<!-- SpaceID=967143001 loc=LOGO noad -->
				<script language="javascript" type="text/javascript">
if(window.yzq_d==null)window.yzq_d=new Object();
				window.yzq_d['dQmYadj8ek4-']='&U=12clphemo%2fN%3ddQmYadj8ek4-%2fC%3d-1%2fD%3dLOGO%2fB%3d-1%2fV%3d0';
				</script><noscript><img width="1" height="1" alt="" src="http://us.bc.yahoo.com/b?P=GEZLZGKIKqhcbnXdSUWfnhRxTPzY.ElMnhkABNi9&amp;T=1415mgd92%2fX%3d1229757977%2fE%3d967143001%2fR%3dyliving%2fK%3d5%2fV%3d2.1%2fW%3dH%2fY%3dYAHOO%2fF%3d138578102%2fQ%3d-1%2fS%3d1%2fJ%3dC8ABA342&amp;U=12clphemo%2fN%3ddQmYadj8ek4-%2fC%3d-1%2fD%3dLOGO%2fB%3d-1%2fV%3d0"></noscript>
			</div>
			<div class="iysmcm ysmcm" id="ylf-ysm-side">
				<h3>
					Sponsored Links
				</h3>
				<ul class="iysmcm-col ysmcm-col ysmcm-col1">
					<li>** links to school sponsors or sponsored items go here
					</li>
				</ul><!--     <ul class="iysmcm-col ysmcm-col ysmcm-col1"><li><h4><a href="http://rc.us-west.srv.overture.com/d/sr/?xargs=20AKxVSf0l0A2or_uX44NCS-z6oOR83n1pIoaOBYsrynOwRyXmSGuML6rFNVl3YmtAZGimHsA_A9la6fkRC3Am2azbPXJho-jyFiSzlKNBRs7QNjo_gVrK-TnrmfNvqo-e-RhOQSG3TxOn_1AzfYK0IM4ZkoLFX6n5hzqfxnxsTknpMr8CKHWRdyIcK0Y8ebs-Kz3KzeM9C4bznkpb1g_LZddIdA7w8KPkGKa6wxi4rd9WYBiDOswQQENu-eki8LlK-COKUh9N-yWCn4XnSF5Oqdc.0000000073a31990">acne skin care treatment product</a></h4><p class="iysmcm-desc ysmcm-desc"><a href="http://rc.us-west.srv.overture.com/d/sr/?xargs=20AKxVSf0l0A2or_uX44NCS-z6oOR83n1pIoaOBYsrynOwRyXmSGuML6rFNVl3YmtAZGimHsA_A9la6fkRC3Am2azbPXJho-jyFiSzlKNBRs7QNjo_gVrK-TnrmfNvqo-e-RhOQSG3TxOn_1AzfYK0IM4ZkoLFX6n5hzqfxnxsTknpMr8CKHWRdyIcK0Y8ebs-Kz3KzeM9C4bznkpb1g_LZddIdA7w8KPkGKa6wxi4rd9WYBiDOswQQENu-eki8LlK-COKUh9N-yWCn4XnSF5Oqdc.0000000073a31990">Exclusive Website Devoted to acne skin care treatment product.</a></p><a class="iysmcm-url ysmcm-url yltasis" href="http://rc.us-west.srv.overture.com/d/sr/?xargs=20AKxVSf0l0A2or_uX44NCS-z6oOR83n1pIoaOBYsrynOwRyXmSGuML6rFNVl3YmtAZGimHsA_A9la6fkRC3Am2azbPXJho-jyFiSzlKNBRs7QNjo_gVrK-TnrmfNvqo-e-RhOQSG3TxOn_1AzfYK0IM4ZkoLFX6n5hzqfxnxsTknpMr8CKHWRdyIcK0Y8ebs-Kz3KzeM9C4bznkpb1g_LZddIdA7w8KPkGKa6wxi4rd9WYBiDOswQQENu-eki8LlK-COKUh9N-yWCn4XnSF5Oqdc.0000000073a31990">SkinProducts.GreatWellBeing.com</a></li><li class="ysmcm-odd"><h4><a href="http://rc.us-west.srv.overture.com/d/sr/?xargs=20AD7T3U8WVTOcKpCC3A1fggcmJ4SCIuXnTvZSIA_RAgeqhADVUC5y2MqL0137-GoErIXLVZhidu2H5TFPWB1zf2VvB_g25zSdVmT5dXWukCfK8CjWnQC7buX_6v5jN8Vg59voRXS5N0MImXRwC-3LW24P6A9h1DhtJgOwY7j3G4kmUyBg5b1rua890ismYnybefuqgZFfKAX2j_m7YFxtIWERtCTrtDSrZaoVzvA5cz4W.0000000073a31990">Treat Skin Problems</a></h4><p class="iysmcm-desc ysmcm-desc"><a href="http://rc.us-west.srv.overture.com/d/sr/?xargs=20AD7T3U8WVTOcKpCC3A1fggcmJ4SCIuXnTvZSIA_RAgeqhADVUC5y2MqL0137-GoErIXLVZhidu2H5TFPWB1zf2VvB_g25zSdVmT5dXWukCfK8CjWnQC7buX_6v5jN8Vg59voRXS5N0MImXRwC-3LW24P6A9h1DhtJgOwY7j3G4kmUyBg5b1rua890ismYnybefuqgZFfKAX2j_m7YFxtIWERtCTrtDSrZaoVzvA5cz4W.0000000073a31990">Learn about Psoriasis & ways to treat this & other skin problems.</a></p><a class="iysmcm-url ysmcm-url yltasis" href="http://rc.us-west.srv.overture.com/d/sr/?xargs=20AD7T3U8WVTOcKpCC3A1fggcmJ4SCIuXnTvZSIA_RAgeqhADVUC5y2MqL0137-GoErIXLVZhidu2H5TFPWB1zf2VvB_g25zSdVmT5dXWukCfK8CjWnQC7buX_6v5jN8Vg59voRXS5N0MImXRwC-3LW24P6A9h1DhtJgOwY7j3G4kmUyBg5b1rua890ismYnybefuqgZFfKAX2j_m7YFxtIWERtCTrtDSrZaoVzvA5cz4W.0000000073a31990">www.parade.com/psoriasis</a></li><li><h4><a href="http://rc.us-west.srv.overture.com/d/sr/?xargs=20ADnzjhopgHwga1hgKp0-kwv1CB4FKpKJUnqyRx-WTTVzIcsYUyki13FkauuL5diFHQCDlt9D4Cnh06IdgRoMTiqovlaeeqnfIwArvYqsrWWxU1IEca4FsiMBvty3yew1sp-kwmyQDBGdM-MfBz63gfsxxAT_D4zWaGQzUmkFvLWHcxkSuEVEFsH0swtkBiC0f1XqsmG2GjRtjQ6KJzpx0snN3j9W1x6kYDRm1DU8qJxgr-hcvdQ5g4ck_43I7HfEwg.0000000073a31990">skin treatment</a></h4><p class="iysmcm-desc ysmcm-desc"><a href="http://rc.us-west.srv.overture.com/d/sr/?xargs=20ADnzjhopgHwga1hgKp0-kwv1CB4FKpKJUnqyRx-WTTVzIcsYUyki13FkauuL5diFHQCDlt9D4Cnh06IdgRoMTiqovlaeeqnfIwArvYqsrWWxU1IEca4FsiMBvty3yew1sp-kwmyQDBGdM-MfBz63gfsxxAT_D4zWaGQzUmkFvLWHcxkSuEVEFsH0swtkBiC0f1XqsmG2GjRtjQ6KJzpx0snN3j9W1x6kYDRm1DU8qJxgr-hcvdQ5g4ck_43I7HfEwg.0000000073a31990">Ratings and reviews for skin care centers in & around San Francisco.</a></p><a class="iysmcm-url ysmcm-url yltasis" href="http://rc.us-west.srv.overture.com/d/sr/?xargs=20ADnzjhopgHwga1hgKp0-kwv1CB4FKpKJUnqyRx-WTTVzIcsYUyki13FkauuL5diFHQCDlt9D4Cnh06IdgRoMTiqovlaeeqnfIwArvYqsrWWxU1IEca4FsiMBvty3yew1sp-kwmyQDBGdM-MfBz63gfsxxAT_D4zWaGQzUmkFvLWHcxkSuEVEFsH0swtkBiC0f1XqsmG2GjRtjQ6KJzpx0snN3j9W1x6kYDRm1DU8qJxgr-hcvdQ5g4ck_43I7HfEwg.0000000073a31990">sanfrancisco.citysearch.com</a></li><li class="ysmcm-odd"><h4><a href="http://rc.us-west.srv.overture.com/d/sr/?xargs=20AFPt5MYpw8omkNsjx_RALthZ_VQPL7bX9vdn1GGlZp8USNJLf6DzY0gq3WeeXY95FiQrAawggTFoSBjiIp-_j5Y0X5dja6SzL5t9fejnhdkhRnQ1CIs1OgfPR0_jvtA7W9XW5vvY0RsaJrev7YV9VRXTHoq5bjh6TCpYow-9rsrkzwQEK2V-6Rt8Q-dMEEjjt9lZH0zbTW1A_FAiyt9Y41EUBVmgydpUmMziYspWXmVK.0000000073a31990">Carol's Daughter - Skin</a></h4><p class="iysmcm-desc ysmcm-desc"><a href="http://rc.us-west.srv.overture.com/d/sr/?xargs=20AFPt5MYpw8omkNsjx_RALthZ_VQPL7bX9vdn1GGlZp8USNJLf6DzY0gq3WeeXY95FiQrAawggTFoSBjiIp-_j5Y0X5dja6SzL5t9fejnhdkhRnQ1CIs1OgfPR0_jvtA7W9XW5vvY0RsaJrev7YV9VRXTHoq5bjh6TCpYow-9rsrkzwQEK2V-6Rt8Q-dMEEjjt9lZH0zbTW1A_FAiyt9Y41EUBVmgydpUmMziYspWXmVK.0000000073a31990">beauty by nature - Highly Natural Skin Products. Free Shipping.</a></p><a class="iysmcm-url ysmcm-url yltasis" href="http://rc.us-west.srv.overture.com/d/sr/?xargs=20AFPt5MYpw8omkNsjx_RALthZ_VQPL7bX9vdn1GGlZp8USNJLf6DzY0gq3WeeXY95FiQrAawggTFoSBjiIp-_j5Y0X5dja6SzL5t9fejnhdkhRnQ1CIs1OgfPR0_jvtA7W9XW5vvY0RsaJrev7YV9VRXTHoq5bjh6TCpYow-9rsrkzwQEK2V-6Rt8Q-dMEEjjt9lZH0zbTW1A_FAiyt9Y41EUBVmgydpUmMziYspWXmVK.0000000073a31990">CarolsDaughter.com</a></li></ul>
	-->
			</div>
			<div id="ylf-mip">
				<iframe frameborder="0" id="ylf-darla-MIP"> <script type="text/javascript" language="javascript">
YAHOO.namespace('YAHOO.Lifestyles.MM');
				YAHOO.Lifestyles.MM.loadedMIP = false;
				YAHOO.Lifestyles.MM.loadAdsMIP = function() {
				if (window.YAHOO.ads.darla) {
				YAHOO.ads.darla.setConfig ({ callFrame:"ylf-darla-MIP", callScript:"/darla-fc", rotation:0, autoRotation:false, property:"yliving", destinationMap:{}, events: { "eventMIP":{ lv:2, npv:true, sp:"967143001", ps:"MIP", em:escape('{"site-attribute":"content=no-expandable;", "ad-logoption":"NOINVENTORY"}') } } });
				YAHOO.ads.darla.event ('eventMIP', { lv:2 } );
				YAHOO.util.Event.removeListener( window, "scroll", YAHOO.Lifestyles.MM.loadAdsMIP);
				}
				}
				YAHOO.util.Event.addListener( window, "load", function() { YAHOO.util.Event.addListener( window, "scroll", function() { if(YAHOO.Lifestyles.MM.loadedMIP === false) { YAHOO.Lifestyles.MM.loadedMIP = true; setTimeout(YAHOO.Lifestyles.MM.loadAdsMIP,0); } } ); });
				</script>
			</div>
		</div>
