<h1>Listing remarks</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Body</th>
  </tr>

<% for remark in @remarks %>
  <tr>
    <td><%=h remark.title %></td>
    <td><%=h remark.body %></td>
    <td><%= link_to 'Show', slot_remark_path(@remarkable, remark) %></td>
    <td><%= link_to 'Edit', edit_slot_remark_path(@remarkable, remark) %></td>
    <td><%= link_to 'Destroy', remark, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New remark', new_slot_remark_path(@remarkable) %>
