<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>

	
	
	<title><%= page_title %> - OSSPTO
	</title>
	<meta name="keywords" lang="en" content="diet, nutrition, fitness, wellness, aging, Array, Array"/>
	<meta name="description" lang="en" content="A blog and online community that offers women tips and advice on living a healthier life, eating better, exercise, staying well, and keeping their families healthy."/>	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <%= stylesheet_link_tag(*@skin) if @skin %>    
    <%= stylesheet_link_tag(*@stylesheets) if @stylesheets %>

    <%= javascript_include_tag(*@javascripts) if @javascripts %>

	<link rel="alternate" type="application/rss+xml" title="Healthy Living |  on Shine" href="http://shine.yahoo.com/rss/blog/channel/health/" />
	
	

</head>
<body <%= body_class_and_id %>>
	<!-- no eyebrow content -->
	<link type="text/css" rel="stylesheet" href="http://l.yimg.com/a/lib/uh/css/uh-1.1.3.css">
<style type="text/css">#ygma .sprite_bg{background-image:url(http://l.yimg.com/a/i/us/uh/bt2/shine_sprite_v1.gif);}#ygma .bd{background:none;}#ygma{background:none;}#ygma .srch{border-bottom:1px solid #D1D1D1;border-top:1px solid #D1D1D1;}#ygma .srch .srchinner{border-left:1px solid #D1D1D1;border-right:1px solid #D1D1D1;background-position:-0px -173px;background-repeat:repeat-x;}#ygma #ygmatop #ygmauseroptions{background:#FCFCFC;color:#000;}#ygma #ygmatop #ygmauseroptions li{background:#fff;color:#000;border-right:1px solid #B9B9B9;}#ygma #ygmatop #ygmauseroptions li.last-child{background:#ECECEC;color:#666;border-bottom:1px solid #B9B9B9;border-top:1px dotted #D4D4D6;}#ygma #ygmabot{font-family:verdana, sans-serif;font-size:1em;}#ygma #ygmabot label {font-weight: normal;}#ygma #ygmabot input {font-size: 78%;}#ygma a {font-family: verdana, sans-serif;}</style><script type="text/javascript" charset="utf-8">(function(){var B={};var A=function(){B=YAHOO.one.uh.hotlistInfo={rd:"http://us.ard.yahoo.com",space:"/SIG=153qbo1o1/M=650008.12746706.13301487.12041688/D=yliving/S=967143018:HEAD/Y=YAHOO/EXP=1232352127/L=oDyezGKIKqhcbnXdSUWfngtDTO0De0l0F18ADIjx/B=LuufTNj8ek4-/J=1232344927852031/A=5509525/R=0",adid:"5509525",prop:"yliving",protocol:"http",host:"shine.yahoo.com",url:"%2fchannel%2fhealth%2f",aliasid:"rocketeer_capt.proton",shortaliasid:"rocketeer_capt.pr...",pvid:"oDyezGKIKqhcbnXdSUWfngtDTO0De0l0F18ADIjx",shortfname:"Carl B"};YAHOO.one.uh.translate=function(C){var D={yahoo_homepage:"http://www.yahoo.com",hp_detect_script:"http://www.yahoo.com/includes/hdhpdetect.php",set_hp_script:"http://us.ard.yahoo.com/SIG=153qbo1o1/M=650008.12746706.13301487.12041688/D=yliving/S=967143018:HEAD/Y=YAHOO/EXP=1232352127/L=oDyezGKIKqhcbnXdSUWfngtDTO0De0l0F18ADIjx/B=LuufTNj8ek4-/J=1232344927852031/A=5509525/R=1/SIG=11te3u6o2/*http://www.yahoo.com/bin/set",set_hp_firefox_instructions:['Drag the "Y!" and drop it onto the "Home" icon.','Select "Yes" from the pop up window.',"Nothing, you're done."],close_this_window:"Close this window",set_hp_alternative_instructions1:"If this didn't work for you see ",detailed_set_hp_instructions:"detailed instructions",set_hp_alternative_instructions2:""};return D[C]};YAHOO.one.uh.accountOptions=[["Profile","http://us.ard.yahoo.com/SIG=153qbo1o1/M=650008.12746706.13301487.12041688/D=yliving/S=967143018:HEAD/Y=YAHOO/EXP=1232352127/L=oDyezGKIKqhcbnXdSUWfngtDTO0De0l0F18ADIjx/B=LuufTNj8ek4-/J=1232344927852031/A=5509525/R=2/SIG=000000000/*http://profiles.yahoo.com/u/"+B.pvid],["Contacts","http://us.ard.yahoo.com/SIG=153qbo1o1/M=650008.12746706.13301487.12041688/D=yliving/S=967143018:HEAD/Y=YAHOO/EXP=1232352127/L=oDyezGKIKqhcbnXdSUWfngtDTO0De0l0F18ADIjx/B=LuufTNj8ek4-/J=1232344927852031/A=5509525/R=3/*http://profiles.yahoo.com/contacts.php"],["Applications","http://us.ard.yahoo.com/SIG=153qbo1o1/M=650008.12746706.13301487.12041688/D=yliving/S=967143018:HEAD/Y=YAHOO/EXP=1232352127/L=oDyezGKIKqhcbnXdSUWfngtDTO0De0l0F18ADIjx/B=LuufTNj8ek4-/J=1232344927852031/A=5509525/R=4/*http://apps.yahoo.com/myapps"],["Account Info","http://us.ard.yahoo.com/SIG=153qbo1o1/M=650008.12746706.13301487.12041688/D=yliving/S=967143018:HEAD/Y=YAHOO/EXP=1232352127/L=oDyezGKIKqhcbnXdSUWfngtDTO0De0l0F18ADIjx/B=LuufTNj8ek4-/J=1232344927852031/A=5509525/R=5/SIG=11juka5l7/*https://edit.yahoo.com/config/eval_profile?.done="+B.protocol+"://"+B.host+B.url+"&.src=shine&.intl=us"],["You are signed in as: <span class='yid' title='"+B.aliasid+"'>"+B.shortaliasid+"</span>",B.aliasid]];YAHOO.one.uh.yahooServices=[["News","http://us.ard.yahoo.com/SIG=153qbo1o1/M=650008.12746706.13301487.12041688/D=yliving/S=967143018:HEAD/Y=YAHOO/EXP=1232352127/L=oDyezGKIKqhcbnXdSUWfngtDTO0De0l0F18ADIjx/B=LuufTNj8ek4-/J=1232344927852031/A=5509525/R=6/SIG=000000000/*http://news.yahoo.com"],["Sports","http://us.ard.yahoo.com/SIG=153qbo1o1/M=650008.12746706.13301487.12041688/D=yliving/S=967143018:HEAD/Y=YAHOO/EXP=1232352127/L=oDyezGKIKqhcbnXdSUWfngtDTO0De0l0F18ADIjx/B=LuufTNj8ek4-/J=1232344927852031/A=5509525/R=7/*http://sports.yahoo.com"],["Finance","http://us.ard.yahoo.com/SIG=153qbo1o1/M=650008.12746706.13301487.12041688/D=yliving/S=967143018:HEAD/Y=YAHOO/EXP=1232352127/L=oDyezGKIKqhcbnXdSUWfngtDTO0De0l0F18ADIjx/B=LuufTNj8ek4-/J=1232344927852031/A=5509525/R=8/*http://finance.yahoo.com"],["Entertainment","http://us.ard.yahoo.com/SIG=153qbo1o1/M=650008.12746706.13301487.12041688/D=yliving/S=967143018:HEAD/Y=YAHOO/EXP=1232352127/L=oDyezGKIKqhcbnXdSUWfngtDTO0De0l0F18ADIjx/B=LuufTNj8ek4-/J=1232344927852031/A=5509525/R=9/*http://entertainment.yahoo.com"]]};if("undefined"!==typeof YAHOO&&"undefined"!==typeof YAHOO.one&&"undefined"!==typeof YAHOO.one.uh){A()}else{setTimeout(arguments.callee,500)}})();</script><div id="ygma"><div id="ygmaheader"><div class="bd sprite_bg"><div id="ygmatop" class="sprite_bg"><ul id="ygmanav"><li class="sprite_bg delim"><a href="http://us.ard.yahoo.com/SIG=153qbo1o1/M=650008.12746706.13301487.12041688/D=yliving/S=967143018:HEAD/Y=YAHOO/EXP=1232352127/L=oDyezGKIKqhcbnXdSUWfngtDTO0De0l0F18ADIjx/B=LuufTNj8ek4-/J=1232344927852031/A=5509525/R=10/SIG=10np9vmbm/*http://www.yahoo.com/" target="_top">Yahoo!</a></li><li class="sprite_bg delim"><a href="http://us.ard.yahoo.com/SIG=153qbo1o1/M=650008.12746706.13301487.12041688/D=yliving/S=967143018:HEAD/Y=YAHOO/EXP=1232352127/L=oDyezGKIKqhcbnXdSUWfngtDTO0De0l0F18ADIjx/B=LuufTNj8ek4-/J=1232344927852031/A=5509525/R=11/SIG=10m97m5i1/*http://my.yahoo.com/" target="_top">My Yahoo!</a></li><li class="sprite_bg delim"><a href="http://us.ard.yahoo.com/SIG=153qbo1o1/M=650008.12746706.13301487.12041688/D=yliving/S=967143018:HEAD/Y=YAHOO/EXP=1232352127/L=oDyezGKIKqhcbnXdSUWfngtDTO0De0l0F18ADIjx/B=LuufTNj8ek4-/J=1232344927852031/A=5509525/R=12/SIG=10od5rqfs/*http://mail.yahoo.com/" target="_top">Mail</a></li><li class="last-child"><a href="http://us.ard.yahoo.com/SIG=153qbo1o1/M=650008.12746706.13301487.12041688/D=yliving/S=967143018:HEAD/Y=YAHOO/EXP=1232352127/L=oDyezGKIKqhcbnXdSUWfngtDTO0De0l0F18ADIjx/B=LuufTNj8ek4-/J=1232344927852031/A=5509525/R=13/SIG=119rld6dj/*http://docs.yahoo.com/docs/family/more/" class="stop_key_nav" id="ygmamore" target="_top">More<span class="offscrn"> Yahoo! Services</span></a></li></ul><div id="ygmapromo"><a href="http://us.ard.yahoo.com/SIG=153qbo1o1/M=650008.12746706.13301487.12041688/D=yliving/S=967143018:HEAD/Y=YAHOO/EXP=1232352127/L=oDyezGKIKqhcbnXdSUWfngtDTO0De0l0F18ADIjx/B=LuufTNj8ek4-/J=1232344927852031/A=5509525/R=14/SIG=10uacnjgh/*http://www.yahoo.com/bin/set" id="ygmamyyhp" class="stop_nav" target="_top">Make <abbr class="stop_nav" title="Yahoo!">Y!</abbr> My Homepage</a><a href="http://us.ard.yahoo.com/SIG=153qbo1o1/M=650008.12746706.13301487.12041688/D=yliving/S=967143018:HEAD/Y=YAHOO/EXP=1232352127/L=oDyezGKIKqhcbnXdSUWfngtDTO0De0l0F18ADIjx/B=LuufTNj8ek4-/J=1232344927852031/A=5509525/R=15/SIG=117bakia1/*http://toolbar.yahoo.com/?.cpdl=ushdl" id="ygmatoolbar" class="hidden" target="_top">Get Yahoo! Toolbar</a></div><script type="text/javascript" charset="utf-8">(function(){var C=document.getElementById("ygmamore");var A=document.getElementById("ygmamyyhp");var B=document.getElementById("ygmatoolbar");C.className+=((""==C.className)?"":" ")+"sprite_bg lst yltasis";A.className+=((""==A.className)?"":" ")+"yltasis yltiefix";B.className+=((""==A.className)?"":" ")+"yltasis yltiefix";if(document.cookie.indexOf("HP=")>-1){A.style.display="none";B.style.display="block"}else{B.style.display="none"}if(document.cookie.indexOf("CP=")>-1){B.style.display="none"}})();</script><div id="ygmauserinfo"><h2 class="offscrn">Account Options</h2><span class="sprite_bg delim"><em>Hi, <a href="http://us.ard.yahoo.com/SIG=153qbo1o1/M=650008.12746706.13301487.12041688/D=yliving/S=967143018:HEAD/Y=YAHOO/EXP=1232352127/L=oDyezGKIKqhcbnXdSUWfngtDTO0De0l0F18ADIjx/B=LuufTNj8ek4-/J=1232344927852031/A=5509525/R=16/SIG=126c0e9kc/*http://profiles.yahoo.com/u/oDyezGKIKqhcbnXdSUWfngtDTO0De0l0F18ADIjx" class="stop_key_nav" id="ygmausername" title="Carl B" target="_top">Carl B</a></em></span><a href="http://us.ard.yahoo.com/SIG=153qbo1o1/M=650008.12746706.13301487.12041688/D=yliving/S=967143018:HEAD/Y=YAHOO/EXP=1232352127/L=oDyezGKIKqhcbnXdSUWfngtDTO0De0l0F18ADIjx/B=LuufTNj8ek4-/J=1232344927852031/A=5509525/R=17/SIG=138e3q7ru/*https://login.yahoo.com/config/login?logout=1&.direct=2&.done=http://www.yahoo.com&.src=shine&.intl=us" class="sprite_bg delim" target="_top">Sign Out</a><a href="http://us.ard.yahoo.com/SIG=153qbo1o1/M=650008.12746706.13301487.12041688/D=yliving/S=967143018:HEAD/Y=YAHOO/EXP=1232352127/L=oDyezGKIKqhcbnXdSUWfngtDTO0De0l0F18ADIjx/B=LuufTNj8ek4-/J=1232344927852031/A=5509525/R=18/SIG=119gftd94/*http://help.yahoo.com/l/us/yahoo/shine/" id="ygmahelp" target="_top" title="Yahoo! Help Central">Help</a></div><script type="text/javascript" charset="utf-8">(function(){var A=document.getElementById("ygmausername");A.className+=((""==A.className)?"":" ")+"sprite_bg lst"})();</script></div><div id="ygmabot" class="sprite_bg"><a href="http://us.ard.yahoo.com/SIG=153qbo1o1/M=650008.12746706.13301487.12041688/D=yliving/S=967143018:HEAD/Y=YAHOO/EXP=1232352127/L=oDyezGKIKqhcbnXdSUWfngtDTO0De0l0F18ADIjx/B=LuufTNj8ek4-/J=1232344927852031/A=5509525/R=19/SIG=10oifeke6/*http://shine.yahoo.com" id="ygmalogo" target="_top"><img width="263" height="58" src="http://l.yimg.com/a/i/us/shine/gr/uh_logo_y.gif" alt="Yahoo! Shine"></a><div class="srch sprite_bg"><form name="ygmasrchfrm" id="ygmasrchfrm" action="http://srd.yahoo.com/loc=head&st=yahoo/*http://search.yahoo.com/search" method="GET"><div class="fieldset"><label for="ygmasrchquery" class="sprite_bg"><span class="offscrn">Yahoo! </span>Search</label><input id="ygmasrchquery" type="text" name="p" maxlength="100"><span class="btn sprite_bg"><span class="first-child"><button name="ygmasrchbtn" id="ygmasrchbtn" value="web search" type="submit">web search</button></span></span><input type="hidden" id="fr" name="fr" value="ush-shine"></div></form></div></div></div></div></div><script charset="utf-8" type="text/javascript" src="http://l.yimg.com/a/lib/uh/js/uh-1.3.0.js"></script><script language=javascript>
if(window.yzq_d==null)window.yzq_d=new Object();
window.yzq_d['LuufTNj8ek4-']='&U=13gc3dsk6%2fN%3dLuufTNj8ek4-%2fC%3d650008.12746706.13301487.12041688%2fD%3dHEAD%2fB%3d5509525%2fV%3d1';

</script><noscript><img width=1 height=1 alt="" src="http://us.bc.yahoo.com/b?P=oDyezGKIKqhcbnXdSUWfngtDTO0De0l0F18ADIjx&T=142op12k0%2fX%3d1232344927%2fE%3d967143018%2fR%3dyliving%2fK%3d5%2fV%3d2.1%2fW%3dH%2fY%3dYAHOO%2fF%3d1799659151%2fQ%3d-1%2fS%3d1%2fJ%3dC8ABA342&U=13gc3dsk6%2fN%3dLuufTNj8ek4-%2fC%3d650008.12746706.13301487.12041688%2fD%3dHEAD%2fB%3d5509525%2fV%3d1"></noscript>
<%= render :partial => "/shared/nav_and_subnav" %>
	
<div id="ylf-searchbar">
    <% form_tag slots_path, :method => 'get' do %>

	        <label for="p">Search Slots for:</label> <%= text_field_tag :search, params[:search], :size => 32 %>
	        <button type="submit">Search Slots</button>
	      <% end %>
	 </form>

</div>
	
	<div <%= on_stage %> >

		<div class="main idx">

			
<div id="ylf-hdrbar" class="cls">

	<h1><%= page_title %></h1>
	
	<p><%= Date.today.to_s(:weekday_and_date) %> </p>
	
<%#	<ul class="feeds cls"><li class="first"><a href="http://add.my.yahoo.com/rss?url=http%3A%2F%2Fshine.yahoo.com%2Frss%2Fblog%2Fchannel%2Fhealth%2F" class="myyahoo" title="My Yahoo!"><span><!-- --></span>Add to My Yahoo!</a></li><li><a href="/" class="rss" title="RSS"><span><!-- --></span>RSS</a></ul> %>
</div>


	<%= render :partial => '/shared/editors_picks' if @doc_id == "doc nobg cls"  %>
				

			
<div id="ylf-ch-idx1" class="posts first">
	<ul>
		
	<%= yield :layout %>

	</ul>
</div>


			
<div id="ylf-ysm" class="iysmcm ysmcm  ysmcm-cols2">
    <h3>Sponsored Links</h3>
    <ul class='iysmcm-col ysmcm-col ysmcm-col1'><li><h4><a href="http://rc.us-west.srv.overture.com/d/sr/?xargs=20ABi3z7rJxqHXSTffrI582m7QgF00AqzAUOsQ5n-5N1jhPntE8LGGCB486W_iZkqoNry0jUeoT0PF6uI0bkbX0jZD8LnJl32jq2Gz15GSGWW6TavBG4PTCTWkmOiG8VoHcvHm1JbrAZ04bRoU6EOTOFKJyTbyD3Z09ziFK7ooFyYDEDqcTPjf7sZ3BYXn0AYfJsv45K5akE1cO0GqNn7s_Ar_6PCd1IWzN8RPfz0OJVt3pHMp0FUzztMOoHDuQaLzKQ.0000000073a31990">Save on Shining Stars plush toys</a></h4><p class="iysmcm-desc ysmcm-desc"><a href="http://rc.us-west.srv.overture.com/d/sr/?xargs=20ABi3z7rJxqHXSTffrI582m7QgF00AqzAUOsQ5n-5N1jhPntE8LGGCB486W_iZkqoNry0jUeoT0PF6uI0bkbX0jZD8LnJl32jq2Gz15GSGWW6TavBG4PTCTWkmOiG8VoHcvHm1JbrAZ04bRoU6EOTOFKJyTbyD3Z09ziFK7ooFyYDEDqcTPjf7sZ3BYXn0AYfJsv45K5akE1cO0GqNn7s_Ar_6PCd1IWzN8RPfz0OJVt3pHMp0FUzztMOoHDuQaLzKQ.0000000073a31990">See our heavenly selection of new and rare plush toys. Fast shipping.</a></p><a href="http://rc.us-west.srv.overture.com/d/sr/?xargs=20ABi3z7rJxqHXSTffrI582m7QgF00AqzAUOsQ5n-5N1jhPntE8LGGCB486W_iZkqoNry0jUeoT0PF6uI0bkbX0jZD8LnJl32jq2Gz15GSGWW6TavBG4PTCTWkmOiG8VoHcvHm1JbrAZ04bRoU6EOTOFKJyTbyD3Z09ziFK7ooFyYDEDqcTPjf7sZ3BYXn0AYfJsv45K5akE1cO0GqNn7s_Ar_6PCd1IWzN8RPfz0OJVt3pHMp0FUzztMOoHDuQaLzKQ.0000000073a31990" class="iysmcm-url ysmcm-url yltasis">www.bbtoystore.com</a></li><li class='ysmcm-odd'><h4><a href="http://rc.us-west.srv.overture.com/d/sr/?xargs=20AJMp5AlkpLjl3Qol4f2DCAgv1YZY26MQ-YjZiFd5oPj_BXtK1-MrsjNQKtyYMur_Euy_1TZGKIsxX-IImTAUi6aGj3QYdjWeWp6V3NyyP4moN9TymQ4emHEN5mGGioykxEGolNgbTsUxjOaUd2_wClqNNRwZapouoYZXt__raUkHGkxbze3hiBY_TQohkoH0zE97ho3kcU5KNzYORJLDFuQKraO4lQLsxmkoJIRSRhWJ.0000000073a31990">Lg Shine At</a></h4><p class="iysmcm-desc ysmcm-desc"><a href="http://rc.us-west.srv.overture.com/d/sr/?xargs=20AJMp5AlkpLjl3Qol4f2DCAgv1YZY26MQ-YjZiFd5oPj_BXtK1-MrsjNQKtyYMur_Euy_1TZGKIsxX-IImTAUi6aGj3QYdjWeWp6V3NyyP4moN9TymQ4emHEN5mGGioykxEGolNgbTsUxjOaUd2_wClqNNRwZapouoYZXt__raUkHGkxbze3hiBY_TQohkoH0zE97ho3kcU5KNzYORJLDFuQKraO4lQLsxmkoJIRSRhWJ.0000000073a31990">Browse a huge selection now. Find exactly what you want today.</a></p><a href="http://rc.us-west.srv.overture.com/d/sr/?xargs=20AJMp5AlkpLjl3Qol4f2DCAgv1YZY26MQ-YjZiFd5oPj_BXtK1-MrsjNQKtyYMur_Euy_1TZGKIsxX-IImTAUi6aGj3QYdjWeWp6V3NyyP4moN9TymQ4emHEN5mGGioykxEGolNgbTsUxjOaUd2_wClqNNRwZapouoYZXt__raUkHGkxbze3hiBY_TQohkoH0zE97ho3kcU5KNzYORJLDFuQKraO4lQLsxmkoJIRSRhWJ.0000000073a31990" class="iysmcm-url ysmcm-url yltasis">www.ebay.com</a></li></ul><ul class="iysmcm-col ysmcm-col ysmcm-col2"><li><h4><a href="http://rc.us-west.srv.overture.com/d/sr/?xargs=20ADnzjhopgHwgjeTuZ5RRy_dyhobrzMUkF01P7L-sOuluivBXrX1e_DQJK_jYKpzmDBMluI03sweKsnaPLf1DvYGX0jh5FPNVkqvy_uy1Yq5JdrZ6aHwv3noeKfv2ziEbesbKlL3JKO7-MUq3_zaBKpDupBQenlliRZ_hvLhMUKAr9mw-qr2z-wbBvOQXqo3uHG7mvt0REVdxcRoQjAjmKdZSNhnzl2njY5WzRoVwxcGdpl5vV6SimB8pxPJ74qJ7ag.0000000073a31990">Shine Jewelry</a></h4><p class="iysmcm-desc ysmcm-desc"><a href="http://rc.us-west.srv.overture.com/d/sr/?xargs=20ADnzjhopgHwgjeTuZ5RRy_dyhobrzMUkF01P7L-sOuluivBXrX1e_DQJK_jYKpzmDBMluI03sweKsnaPLf1DvYGX0jh5FPNVkqvy_uy1Yq5JdrZ6aHwv3noeKfv2ziEbesbKlL3JKO7-MUq3_zaBKpDupBQenlliRZ_hvLhMUKAr9mw-qr2z-wbBvOQXqo3uHG7mvt0REVdxcRoQjAjmKdZSNhnzl2njY5WzRoVwxcGdpl5vV6SimB8pxPJ74qJ7ag.0000000073a31990">Find Shine Jewelry Great Selection of Jewelry.</a></p><a href="http://rc.us-west.srv.overture.com/d/sr/?xargs=20ADnzjhopgHwgjeTuZ5RRy_dyhobrzMUkF01P7L-sOuluivBXrX1e_DQJK_jYKpzmDBMluI03sweKsnaPLf1DvYGX0jh5FPNVkqvy_uy1Yq5JdrZ6aHwv3noeKfv2ziEbesbKlL3JKO7-MUq3_zaBKpDupBQenlliRZ_hvLhMUKAr9mw-qr2z-wbBvOQXqo3uHG7mvt0REVdxcRoQjAjmKdZSNhnzl2njY5WzRoVwxcGdpl5vV6SimB8pxPJ74qJ7ag.0000000073a31990" class="iysmcm-url ysmcm-url yltasis">www.ShopStyle.com</a></li><li class='ysmcm-odd'><h4><a href="http://rc.us-west.srv.overture.com/d/sr/?xargs=20ADnzjhopgHwgDCInFpW06vAXNz6ztApa_ma8a8MLNQIMpZrzl_IudgxXGGwxVHrbc-ofwlIqjI6jHw3gAhqAzNIOgxPW5F8fxBemkJMqHOWMIKAnvgCzN3WLWtL1UnyMECN3htXWLsFgog138eGkrtac-hEMAmjRdmp622DOngn5z1WqxJ_L4uRtBI9ZL4Hjt7GG1zp8Bakpby5o7SAmUU1bNmy6g5muDhTtbfVUbAZk3zBeypQvOgbevIRBjLg2bA.0000000073a31990">Find a Shine Law Firm</a></h4><p class="iysmcm-desc ysmcm-desc"><a href="http://rc.us-west.srv.overture.com/d/sr/?xargs=20ADnzjhopgHwgDCInFpW06vAXNz6ztApa_ma8a8MLNQIMpZrzl_IudgxXGGwxVHrbc-ofwlIqjI6jHw3gAhqAzNIOgxPW5F8fxBemkJMqHOWMIKAnvgCzN3WLWtL1UnyMECN3htXWLsFgog138eGkrtac-hEMAmjRdmp622DOngn5z1WqxJ_L4uRtBI9ZL4Hjt7GG1zp8Bakpby5o7SAmUU1bNmy6g5muDhTtbfVUbAZk3zBeypQvOgbevIRBjLg2bA.0000000073a31990">Browse Law Firm Listings in Shine. Compare Profiles & Credentials. Free in-depth Research. FindLaw.com.</a></p><a href="http://rc.us-west.srv.overture.com/d/sr/?xargs=20ADnzjhopgHwgDCInFpW06vAXNz6ztApa_ma8a8MLNQIMpZrzl_IudgxXGGwxVHrbc-ofwlIqjI6jHw3gAhqAzNIOgxPW5F8fxBemkJMqHOWMIKAnvgCzN3WLWtL1UnyMECN3htXWLsFgog138eGkrtac-hEMAmjRdmp622DOngn5z1WqxJ_L4uRtBI9ZL4Hjt7GG1zp8Bakpby5o7SAmUU1bNmy6g5muDhTtbfVUbAZk3zBeypQvOgbevIRBjLg2bA.0000000073a31990" class="iysmcm-url ysmcm-url yltasis">na.link.decdna.net</a></li></ul>

    
    <div>
    	
    </div>
</div>

			

			<%# render :partial => 'pagination' ## when more entries are made %>

		</div>

		<%= sidebar %>

	</div>

	<%# render :partial => "super_footer" %>
	<%= render :partial => "/shared/foot" %>

</body>
</html>

