<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>

	
	
	<title><%= page_title %> - OSSPTO
	</title>
	<meta name="keywords" lang="en" content="diet, nutrition, fitness, wellness, aging, Array, Array"/>
	<meta name="description" lang="en" content="A blog and online community that offers women tips and advice on living a healthier life, eating better, exercise, staying well, and keeping their families healthy."/>	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<link rel="stylesheet" type="text/css" charset="UTF-8" href="http://l.yimg.com/jn/css/20081208112220/base.css">

	<script type="text/javascript" charset="UTF-8" src="http://l.yimg.com/jn/js/20081208112220/ylf_core.js"></script>

	<link rel="alternate" type="application/rss+xml" title="Healthy Living |  on Shine" href="http://shine.yahoo.com/rss/blog/channel/health/" />
	
	

</head>
<body id="ylf-ch-health" class="posts-index">
	<!-- no eyebrow content -->
	<link type="text/css" rel="stylesheet" href="http://l.yimg.com/a/lib/uh/css/uh-1.1.3.css">
<style type="text/css">#ygma .sprite_bg{background-image:url(http://l.yimg.com/a/i/us/uh/bt2/shine_sprite_v1.gif);}#ygma .bd{background:none;}#ygma{background:none;}#ygma .srch{border-bottom:1px solid #D1D1D1;border-top:1px solid #D1D1D1;}#ygma .srch .srchinner{border-left:1px solid #D1D1D1;border-right:1px solid #D1D1D1;background-position:-0px -173px;background-repeat:repeat-x;}#ygma #ygmatop #ygmauseroptions{background:#FCFCFC;color:#000;}#ygma #ygmatop #ygmauseroptions li{background:#fff;color:#000;border-right:1px solid #B9B9B9;}#ygma #ygmatop #ygmauseroptions li.last-child{background:#ECECEC;color:#666;border-bottom:1px solid #B9B9B9;border-top:1px dotted #D4D4D6;}#ygma #ygmabot{font-family:verdana, sans-serif;font-size:1em;}#ygma #ygmabot label {font-weight: normal;}#ygma #ygmabot input {font-size: 78%;}#ygma a {font-family: verdana, sans-serif;}</style><script type="text/javascript" charset="utf-8">(function(){var B={};var A=function(){B=YAHOO.one.uh.hotlistInfo={rd:"http://us.ard.yahoo.com",space:"/SIG=153qbo1o1/M=650008.12746706.13301487.12041688/D=yliving/S=967143018:HEAD/Y=YAHOO/EXP=1232352127/L=oDyezGKIKqhcbnXdSUWfngtDTO0De0l0F18ADIjx/B=LuufTNj8ek4-/J=1232344927852031/A=5509525/R=0",adid:"5509525",prop:"yliving",protocol:"http",host:"shine.yahoo.com",url:"%2fchannel%2fhealth%2f",aliasid:"rocketeer_capt.proton",shortaliasid:"rocketeer_capt.pr...",pvid:"oDyezGKIKqhcbnXdSUWfngtDTO0De0l0F18ADIjx",shortfname:"Carl B"};YAHOO.one.uh.translate=function(C){var D={yahoo_homepage:"http://www.yahoo.com",hp_detect_script:"http://www.yahoo.com/includes/hdhpdetect.php",set_hp_script:"http://us.ard.yahoo.com/SIG=153qbo1o1/M=650008.12746706.13301487.12041688/D=yliving/S=967143018:HEAD/Y=YAHOO/EXP=1232352127/L=oDyezGKIKqhcbnXdSUWfngtDTO0De0l0F18ADIjx/B=LuufTNj8ek4-/J=1232344927852031/A=5509525/R=1/SIG=11te3u6o2/*http://www.yahoo.com/bin/set",set_hp_firefox_instructions:['Drag the "Y!" and drop it onto the "Home" icon.','Select "Yes" from the pop up window.',"Nothing, you're done."],close_this_window:"Close this window",set_hp_alternative_instructions1:"If this didn't work for you see ",detailed_set_hp_instructions:"detailed instructions",set_hp_alternative_instructions2:""};return D[C]};YAHOO.one.uh.accountOptions=[["Profile","http://us.ard.yahoo.com/SIG=153qbo1o1/M=650008.12746706.13301487.12041688/D=yliving/S=967143018:HEAD/Y=YAHOO/EXP=1232352127/L=oDyezGKIKqhcbnXdSUWfngtDTO0De0l0F18ADIjx/B=LuufTNj8ek4-/J=1232344927852031/A=5509525/R=2/SIG=000000000/*http://profiles.yahoo.com/u/"+B.pvid],["Contacts","http://us.ard.yahoo.com/SIG=153qbo1o1/M=650008.12746706.13301487.12041688/D=yliving/S=967143018:HEAD/Y=YAHOO/EXP=1232352127/L=oDyezGKIKqhcbnXdSUWfngtDTO0De0l0F18ADIjx/B=LuufTNj8ek4-/J=1232344927852031/A=5509525/R=3/*http://profiles.yahoo.com/contacts.php"],["Applications","http://us.ard.yahoo.com/SIG=153qbo1o1/M=650008.12746706.13301487.12041688/D=yliving/S=967143018:HEAD/Y=YAHOO/EXP=1232352127/L=oDyezGKIKqhcbnXdSUWfngtDTO0De0l0F18ADIjx/B=LuufTNj8ek4-/J=1232344927852031/A=5509525/R=4/*http://apps.yahoo.com/myapps"],["Account Info","http://us.ard.yahoo.com/SIG=153qbo1o1/M=650008.12746706.13301487.12041688/D=yliving/S=967143018:HEAD/Y=YAHOO/EXP=1232352127/L=oDyezGKIKqhcbnXdSUWfngtDTO0De0l0F18ADIjx/B=LuufTNj8ek4-/J=1232344927852031/A=5509525/R=5/SIG=11juka5l7/*https://edit.yahoo.com/config/eval_profile?.done="+B.protocol+"://"+B.host+B.url+"&.src=shine&.intl=us"],["You are signed in as: <span class='yid' title='"+B.aliasid+"'>"+B.shortaliasid+"</span>",B.aliasid]];YAHOO.one.uh.yahooServices=[["News","http://us.ard.yahoo.com/SIG=153qbo1o1/M=650008.12746706.13301487.12041688/D=yliving/S=967143018:HEAD/Y=YAHOO/EXP=1232352127/L=oDyezGKIKqhcbnXdSUWfngtDTO0De0l0F18ADIjx/B=LuufTNj8ek4-/J=1232344927852031/A=5509525/R=6/SIG=000000000/*http://news.yahoo.com"],["Sports","http://us.ard.yahoo.com/SIG=153qbo1o1/M=650008.12746706.13301487.12041688/D=yliving/S=967143018:HEAD/Y=YAHOO/EXP=1232352127/L=oDyezGKIKqhcbnXdSUWfngtDTO0De0l0F18ADIjx/B=LuufTNj8ek4-/J=1232344927852031/A=5509525/R=7/*http://sports.yahoo.com"],["Finance","http://us.ard.yahoo.com/SIG=153qbo1o1/M=650008.12746706.13301487.12041688/D=yliving/S=967143018:HEAD/Y=YAHOO/EXP=1232352127/L=oDyezGKIKqhcbnXdSUWfngtDTO0De0l0F18ADIjx/B=LuufTNj8ek4-/J=1232344927852031/A=5509525/R=8/*http://finance.yahoo.com"],["Entertainment","http://us.ard.yahoo.com/SIG=153qbo1o1/M=650008.12746706.13301487.12041688/D=yliving/S=967143018:HEAD/Y=YAHOO/EXP=1232352127/L=oDyezGKIKqhcbnXdSUWfngtDTO0De0l0F18ADIjx/B=LuufTNj8ek4-/J=1232344927852031/A=5509525/R=9/*http://entertainment.yahoo.com"]]};if("undefined"!==typeof YAHOO&&"undefined"!==typeof YAHOO.one&&"undefined"!==typeof YAHOO.one.uh){A()}else{setTimeout(arguments.callee,500)}})();</script><div id="ygma"><div id="ygmaheader"><div class="bd sprite_bg"><div id="ygmatop" class="sprite_bg"><ul id="ygmanav"><li class="sprite_bg delim"><a href="http://us.ard.yahoo.com/SIG=153qbo1o1/M=650008.12746706.13301487.12041688/D=yliving/S=967143018:HEAD/Y=YAHOO/EXP=1232352127/L=oDyezGKIKqhcbnXdSUWfngtDTO0De0l0F18ADIjx/B=LuufTNj8ek4-/J=1232344927852031/A=5509525/R=10/SIG=10np9vmbm/*http://www.yahoo.com/" target="_top">Yahoo!</a></li><li class="sprite_bg delim"><a href="http://us.ard.yahoo.com/SIG=153qbo1o1/M=650008.12746706.13301487.12041688/D=yliving/S=967143018:HEAD/Y=YAHOO/EXP=1232352127/L=oDyezGKIKqhcbnXdSUWfngtDTO0De0l0F18ADIjx/B=LuufTNj8ek4-/J=1232344927852031/A=5509525/R=11/SIG=10m97m5i1/*http://my.yahoo.com/" target="_top">My Yahoo!</a></li><li class="sprite_bg delim"><a href="http://us.ard.yahoo.com/SIG=153qbo1o1/M=650008.12746706.13301487.12041688/D=yliving/S=967143018:HEAD/Y=YAHOO/EXP=1232352127/L=oDyezGKIKqhcbnXdSUWfngtDTO0De0l0F18ADIjx/B=LuufTNj8ek4-/J=1232344927852031/A=5509525/R=12/SIG=10od5rqfs/*http://mail.yahoo.com/" target="_top">Mail</a></li><li class="last-child"><a href="http://us.ard.yahoo.com/SIG=153qbo1o1/M=650008.12746706.13301487.12041688/D=yliving/S=967143018:HEAD/Y=YAHOO/EXP=1232352127/L=oDyezGKIKqhcbnXdSUWfngtDTO0De0l0F18ADIjx/B=LuufTNj8ek4-/J=1232344927852031/A=5509525/R=13/SIG=119rld6dj/*http://docs.yahoo.com/docs/family/more/" class="stop_key_nav" id="ygmamore" target="_top">More<span class="offscrn"> Yahoo! Services</span></a></li></ul><div id="ygmapromo"><a href="http://us.ard.yahoo.com/SIG=153qbo1o1/M=650008.12746706.13301487.12041688/D=yliving/S=967143018:HEAD/Y=YAHOO/EXP=1232352127/L=oDyezGKIKqhcbnXdSUWfngtDTO0De0l0F18ADIjx/B=LuufTNj8ek4-/J=1232344927852031/A=5509525/R=14/SIG=10uacnjgh/*http://www.yahoo.com/bin/set" id="ygmamyyhp" class="stop_nav" target="_top">Make <abbr class="stop_nav" title="Yahoo!">Y!</abbr> My Homepage</a><a href="http://us.ard.yahoo.com/SIG=153qbo1o1/M=650008.12746706.13301487.12041688/D=yliving/S=967143018:HEAD/Y=YAHOO/EXP=1232352127/L=oDyezGKIKqhcbnXdSUWfngtDTO0De0l0F18ADIjx/B=LuufTNj8ek4-/J=1232344927852031/A=5509525/R=15/SIG=117bakia1/*http://toolbar.yahoo.com/?.cpdl=ushdl" id="ygmatoolbar" class="hidden" target="_top">Get Yahoo! Toolbar</a></div><script type="text/javascript" charset="utf-8">(function(){var C=document.getElementById("ygmamore");var A=document.getElementById("ygmamyyhp");var B=document.getElementById("ygmatoolbar");C.className+=((""==C.className)?"":" ")+"sprite_bg lst yltasis";A.className+=((""==A.className)?"":" ")+"yltasis yltiefix";B.className+=((""==A.className)?"":" ")+"yltasis yltiefix";if(document.cookie.indexOf("HP=")>-1){A.style.display="none";B.style.display="block"}else{B.style.display="none"}if(document.cookie.indexOf("CP=")>-1){B.style.display="none"}})();</script><div id="ygmauserinfo"><h2 class="offscrn">Account Options</h2><span class="sprite_bg delim"><em>Hi, <a href="http://us.ard.yahoo.com/SIG=153qbo1o1/M=650008.12746706.13301487.12041688/D=yliving/S=967143018:HEAD/Y=YAHOO/EXP=1232352127/L=oDyezGKIKqhcbnXdSUWfngtDTO0De0l0F18ADIjx/B=LuufTNj8ek4-/J=1232344927852031/A=5509525/R=16/SIG=126c0e9kc/*http://profiles.yahoo.com/u/oDyezGKIKqhcbnXdSUWfngtDTO0De0l0F18ADIjx" class="stop_key_nav" id="ygmausername" title="Carl B" target="_top">Carl B</a></em></span><a href="http://us.ard.yahoo.com/SIG=153qbo1o1/M=650008.12746706.13301487.12041688/D=yliving/S=967143018:HEAD/Y=YAHOO/EXP=1232352127/L=oDyezGKIKqhcbnXdSUWfngtDTO0De0l0F18ADIjx/B=LuufTNj8ek4-/J=1232344927852031/A=5509525/R=17/SIG=138e3q7ru/*https://login.yahoo.com/config/login?logout=1&.direct=2&.done=http://www.yahoo.com&.src=shine&.intl=us" class="sprite_bg delim" target="_top">Sign Out</a><a href="http://us.ard.yahoo.com/SIG=153qbo1o1/M=650008.12746706.13301487.12041688/D=yliving/S=967143018:HEAD/Y=YAHOO/EXP=1232352127/L=oDyezGKIKqhcbnXdSUWfngtDTO0De0l0F18ADIjx/B=LuufTNj8ek4-/J=1232344927852031/A=5509525/R=18/SIG=119gftd94/*http://help.yahoo.com/l/us/yahoo/shine/" id="ygmahelp" target="_top" title="Yahoo! Help Central">Help</a></div><script type="text/javascript" charset="utf-8">(function(){var A=document.getElementById("ygmausername");A.className+=((""==A.className)?"":" ")+"sprite_bg lst"})();</script></div><div id="ygmabot" class="sprite_bg"><a href="http://us.ard.yahoo.com/SIG=153qbo1o1/M=650008.12746706.13301487.12041688/D=yliving/S=967143018:HEAD/Y=YAHOO/EXP=1232352127/L=oDyezGKIKqhcbnXdSUWfngtDTO0De0l0F18ADIjx/B=LuufTNj8ek4-/J=1232344927852031/A=5509525/R=19/SIG=10oifeke6/*http://shine.yahoo.com" id="ygmalogo" target="_top"><img width="263" height="58" src="http://l.yimg.com/a/i/us/shine/gr/uh_logo_y.gif" alt="Yahoo! Shine"></a><div class="srch sprite_bg"><form name="ygmasrchfrm" id="ygmasrchfrm" action="http://srd.yahoo.com/loc=head&st=yahoo/*http://search.yahoo.com/search" method="GET"><div class="fieldset"><label for="ygmasrchquery" class="sprite_bg"><span class="offscrn">Yahoo! </span>Search</label><input id="ygmasrchquery" type="text" name="p" maxlength="100"><span class="btn sprite_bg"><span class="first-child"><button name="ygmasrchbtn" id="ygmasrchbtn" value="web search" type="submit">web search</button></span></span><input type="hidden" id="fr" name="fr" value="ush-shine"></div></form></div></div></div></div></div><script charset="utf-8" type="text/javascript" src="http://l.yimg.com/a/lib/uh/js/uh-1.3.0.js"></script><script language=javascript>
if(window.yzq_d==null)window.yzq_d=new Object();
window.yzq_d['LuufTNj8ek4-']='&U=13gc3dsk6%2fN%3dLuufTNj8ek4-%2fC%3d650008.12746706.13301487.12041688%2fD%3dHEAD%2fB%3d5509525%2fV%3d1';

</script><noscript><img width=1 height=1 alt="" src="http://us.bc.yahoo.com/b?P=oDyezGKIKqhcbnXdSUWfngtDTO0De0l0F18ADIjx&T=142op12k0%2fX%3d1232344927%2fE%3d967143018%2fR%3dyliving%2fK%3d5%2fV%3d2.1%2fW%3dH%2fY%3dYAHOO%2fF%3d1799659151%2fQ%3d-1%2fS%3d1%2fJ%3dC8ABA342&U=13gc3dsk6%2fN%3dLuufTNj8ek4-%2fC%3d650008.12746706.13301487.12041688%2fD%3dHEAD%2fB%3d5509525%2fV%3d1"></noscript>
		<div id="ylf-nav" class="nav">
		<ul class="cls">
			<li class="first "><a href="/channel/beauty/" >Fashion + Beauty</a></li><li class="selected"><a href="/channel/health/" >Healthy Living</a></li><li><a href="/channel/entertainment/" >Entertainment</a></li><li><a href="/channel/parenting/" >Parenting</a></li><li><a href="/channel/sex/" >Love + Sex</a></li><li><a href="/channel/money/" >Work + Money</a></li><li><a href="/channel/food/" >Food</a></li><li><a href="/channel/home/" >At Home</a></li><li><a href="/astrology/" >Astrology</a></li>

		</ul>
	</div>
	<div id="ylf-subnav">
		<div class="nav"><span class="title">Related Topics:</span> <ul class="topics cls"><li class="first"><a href="/topic/diet" >Diet</a></li><li><a href="/topic/nutrition" >Nutrition</a></li><li><a href="/topic/fitness" >Fitness</a></li><li><a href="/topic/wellness" >Wellness</a></li><li><a href="/topic/aging" >Aging</a></li><li><a href="http://shine.yahoo.com/event/the-thread/" >The <span style='text-transform:uppercase;padding:0;'>t</span>hread</a></li><li><a href="http://shine.yahoo.com/event/new-year-new-you/" ><span style='text-transform:uppercase;padding:0;'>n</span>ew <span style='text-transform:uppercase;padding:0;'>y</span>ear&#44; <span style='text-transform:uppercase;padding:0;'>n</span>ew <span style='text-transform:uppercase;padding:0;'>y</span>ou</a></li></ul></div>

	</div>

	
<div id="ylf-searchbar">
	<form action="/search" name="searchform">
		<label for="p">Search Lifestyles for:</label>
		<input type="text" value="" size="32" id="p" name="p"/>
		<button type="submit">Search Shine</button>
	</form>

</div>
	<!-- SpaceID=967143018 loc=NT1 noad -->
<script language=javascript>
if(window.yzq_d==null)window.yzq_d=new Object();
window.yzq_d['LeufTNj8ek4-']='&U=12bevh05h%2fN%3dLeufTNj8ek4-%2fC%3d-1%2fD%3dNT1%2fB%3d-1%2fV%3d0';
</script><noscript><img width=1 height=1 alt="" src="http://us.bc.yahoo.com/b?P=oDyezGKIKqhcbnXdSUWfngtDTO0De0l0F18ADIjx&T=141oqcnqs%2fX%3d1232344927%2fE%3d967143018%2fR%3dyliving%2fK%3d5%2fV%3d2.1%2fW%3dH%2fY%3dYAHOO%2fF%3d816291464%2fQ%3d-1%2fS%3d1%2fJ%3dC8ABA342&U=12bevh05h%2fN%3dLeufTNj8ek4-%2fC%3d-1%2fD%3dNT1%2fB%3d-1%2fV%3d0"></noscript>
	<!-- SpaceID=967143018 loc=RICH noad -->
<script language=javascript>
if(window.yzq_d==null)window.yzq_d=new Object();
window.yzq_d['L.ufTNj8ek4-']='&U=12cddukeo%2fN%3dL.ufTNj8ek4-%2fC%3d-1%2fD%3dRICH%2fB%3d-1%2fV%3d0';
</script><noscript><img width=1 height=1 alt="" src="http://us.bc.yahoo.com/b?P=oDyezGKIKqhcbnXdSUWfngtDTO0De0l0F18ADIjx&T=142eht971%2fX%3d1232344927%2fE%3d967143018%2fR%3dyliving%2fK%3d5%2fV%3d2.1%2fW%3dH%2fY%3dYAHOO%2fF%3d2098691424%2fQ%3d-1%2fS%3d1%2fJ%3dC8ABA342&U=12cddukeo%2fN%3dL.ufTNj8ek4-%2fC%3d-1%2fD%3dRICH%2fB%3d-1%2fV%3d0"></noscript>
	
	<div class="doc nobg cls">

		<div class="main idx">

			
<div id="ylf-hdrbar" class="cls">

	<h1><%= @topic.name %></h1>
	
	<p><%# Date.today.strftime("%A, %B %d, %Y") %> <%= Date.today.to_s(:weekday_and_date) %> </p>
	
	<%# <ul class="feeds cls"><li class="first"><a href="http://add.my.yahoo.com/rss?url=http%3A%2F%2Fshine.yahoo.com%2Frss%2Fblog%2Fchannel%2Fhealth%2F" class="myyahoo" title="My Yahoo!"><span><!-- --></span>Add to My Yahoo!</a></li><li><a href="http://shine.yahoo.com/rss/blog/channel/health/" class="rss" title="RSS"><span><!-- --></span>RSS</a></ul> #Add after content concept better worked out. %>

</div>
<div id="ylf-all-filter">editor&rsquo;s picks | <a href="/channel/health/all/" >raw feed</a></div>

			
<div class="mod feature line cls">
	<div class="hd"></div>
	<div class="bd">
		<ul class="cols col3">
				<li>
		<a href="/channel/health/yoga-decoder-ashtanga-bikram-and-more-351157/;_ylt=AssVieDKsSPjzqfOCe0EjTFqbqU5" class="img"><img src="http://l.yimg.com/jn/util/anysize/203*151c-86400,http%3A%2F%2Fl.yimg.com%2Fa%2Fi%2Fus%2Fshine%2Fhealth%2F1%2F%2Fyogastand2.jpg" width="203" height="151" alt="Your yoga decoder"/></a>
		<div class="attr">
			
			<h2><a href="/channel/health/yoga-decoder-ashtanga-bikram-and-more-351157/;_ylt=AiOemQjfn1A0V45HDQsmMxNqbqU5" class="lnk">Your yoga decoder</a></h2>

			<cite> </cite>
			<p>Bikram, Ashtanga, Kundalini -- no need to be confused. We break down the most popular types of yoga so you can find the right kind of class for you. <a href="/channel/health/yoga-decoder-ashtanga-bikram-and-more-351157/;_ylt=Atc_7n2JSctEGBIu1yK9ZGNqbqU5" class="more">Read More &raquo;</a></p>
		</div>
	</li>
		<li>
		<a href="/event/new-year-new-you/trendy-diets-done-right-the-vegan-diet-351111/;_ylt=AgrZYiqReZ9beeoTivZVX9pqbqU5" class="img"><img src="http://l.yimg.com/jn/util/anysize/203*151c-86400,http%3A%2F%2Fl.yimg.com%2Fa%2Fi%2Fus%2Fshine%2Fhealth%2F1%2F%2Fvegplate2.jpg" width="203" height="151" alt="Could you really go vegan?"/></a>
		<div class="attr">

			
			<h2><a href="/event/new-year-new-you/trendy-diets-done-right-the-vegan-diet-351111/;_ylt=AjTnHhc8Wj7F3CRxfeJMt3dqbqU5" class="lnk">Could you really go vegan?</a></h2>
			<cite> </cite>
			<p>Ever wonder if you have the willpower to give up milk, meat, and other animal products? We break down a vegan diet to see if it's right for you. <a href="/event/new-year-new-you/trendy-diets-done-right-the-vegan-diet-351111/;_ylt=ApUOr4mnsZMKm5eA9gLrrBpqbqU5" class="more">Read More &raquo;</a></p>
		</div>
	</li>
		<li class="last">
		<a href="/channel/health/my-favorite-cold-relief-the-most-soothing-tea-ever-352273/;_ylt=ArOtXZ8DgiHWNZRaTeRnSNNqbqU5" class="img"><img src="http://l.yimg.com/jn/util/anysize/203*151c-86400,http%3A%2F%2Fl.yimg.com%2Fa%2Fi%2Fus%2Fshine%2Fhealth%2F1%2F%2Fgingertea2.jpg" width="203" height="151" alt="Cold relief that comes in a cup"/></a>

		<div class="attr">
			
			<h2><a href="/channel/health/my-favorite-cold-relief-the-most-soothing-tea-ever-352273/;_ylt=Ards85d2Mie9RvsvuFUHZiRqbqU5" class="lnk">Cold relief that comes in a cup</a></h2>
			<cite> </cite>
			<p>We all have our own little home remedies that ease the aches and pains. This simple tea is sure to soothe your cold symptoms. <a href="/channel/health/my-favorite-cold-relief-the-most-soothing-tea-ever-352273/;_ylt=AgyB4k8_9cv4yXOLyjj0f6pqbqU5" class="more">Read More &raquo;</a></p>
		</div>
	</li>
	
		</ul>

	</div>
	<div class="ft"></div>
</div>

			
<div id="ylf-ch-idx1" class="posts first">
	<ul>
		
	<%= yield %>

	</ul>
</div>

<script type="text/javascript" charset="UTF-8">YAHOO.Lifestyles.ImageLoader.delayByView({el:"ylf-ch-idx1", cl:"lz", imgs:["http://f5.yahoofs.com/coreid/486d1180i1564zul2re3/ltrhZW08erSrgEuHJWoxAYBWurevgQ--/2/tn32.jpg?ciAkbsJBuEBxiB4n","http://f5.yahoofs.com/coreid/48fcbff6i161czul2re3/o45fN947cqloscRLoUr5_K8-/1/tn32.jpg?ciAkbsJBqfuKtEnO","http://f5.yahoofs.com/coreid/49486e28i15d9zul3re3/ututkIw8YqqcqE9RFjvC_Q--/2/tn32.jpg?ciAkbsJB4kI4bb2n"]});</script>

			
<div id="ylf-ysm" class="iysmcm ysmcm  ysmcm-cols2">
    <h3>Sponsored Links</h3>
    <ul class='iysmcm-col ysmcm-col ysmcm-col1'><li><h4><a href="http://rc.us-west.srv.overture.com/d/sr/?xargs=20ABi3z7rJxqHXSTffrI582m7QgF00AqzAUOsQ5n-5N1jhPntE8LGGCB486W_iZkqoNry0jUeoT0PF6uI0bkbX0jZD8LnJl32jq2Gz15GSGWW6TavBG4PTCTWkmOiG8VoHcvHm1JbrAZ04bRoU6EOTOFKJyTbyD3Z09ziFK7ooFyYDEDqcTPjf7sZ3BYXn0AYfJsv45K5akE1cO0GqNn7s_Ar_6PCd1IWzN8RPfz0OJVt3pHMp0FUzztMOoHDuQaLzKQ.0000000073a31990">Save on Shining Stars plush toys</a></h4><p class="iysmcm-desc ysmcm-desc"><a href="http://rc.us-west.srv.overture.com/d/sr/?xargs=20ABi3z7rJxqHXSTffrI582m7QgF00AqzAUOsQ5n-5N1jhPntE8LGGCB486W_iZkqoNry0jUeoT0PF6uI0bkbX0jZD8LnJl32jq2Gz15GSGWW6TavBG4PTCTWkmOiG8VoHcvHm1JbrAZ04bRoU6EOTOFKJyTbyD3Z09ziFK7ooFyYDEDqcTPjf7sZ3BYXn0AYfJsv45K5akE1cO0GqNn7s_Ar_6PCd1IWzN8RPfz0OJVt3pHMp0FUzztMOoHDuQaLzKQ.0000000073a31990">See our heavenly selection of new and rare plush toys. Fast shipping.</a></p><a href="http://rc.us-west.srv.overture.com/d/sr/?xargs=20ABi3z7rJxqHXSTffrI582m7QgF00AqzAUOsQ5n-5N1jhPntE8LGGCB486W_iZkqoNry0jUeoT0PF6uI0bkbX0jZD8LnJl32jq2Gz15GSGWW6TavBG4PTCTWkmOiG8VoHcvHm1JbrAZ04bRoU6EOTOFKJyTbyD3Z09ziFK7ooFyYDEDqcTPjf7sZ3BYXn0AYfJsv45K5akE1cO0GqNn7s_Ar_6PCd1IWzN8RPfz0OJVt3pHMp0FUzztMOoHDuQaLzKQ.0000000073a31990" class="iysmcm-url ysmcm-url yltasis">www.bbtoystore.com</a></li><li class='ysmcm-odd'><h4><a href="http://rc.us-west.srv.overture.com/d/sr/?xargs=20AJMp5AlkpLjl3Qol4f2DCAgv1YZY26MQ-YjZiFd5oPj_BXtK1-MrsjNQKtyYMur_Euy_1TZGKIsxX-IImTAUi6aGj3QYdjWeWp6V3NyyP4moN9TymQ4emHEN5mGGioykxEGolNgbTsUxjOaUd2_wClqNNRwZapouoYZXt__raUkHGkxbze3hiBY_TQohkoH0zE97ho3kcU5KNzYORJLDFuQKraO4lQLsxmkoJIRSRhWJ.0000000073a31990">Lg Shine At</a></h4><p class="iysmcm-desc ysmcm-desc"><a href="http://rc.us-west.srv.overture.com/d/sr/?xargs=20AJMp5AlkpLjl3Qol4f2DCAgv1YZY26MQ-YjZiFd5oPj_BXtK1-MrsjNQKtyYMur_Euy_1TZGKIsxX-IImTAUi6aGj3QYdjWeWp6V3NyyP4moN9TymQ4emHEN5mGGioykxEGolNgbTsUxjOaUd2_wClqNNRwZapouoYZXt__raUkHGkxbze3hiBY_TQohkoH0zE97ho3kcU5KNzYORJLDFuQKraO4lQLsxmkoJIRSRhWJ.0000000073a31990">Browse a huge selection now. Find exactly what you want today.</a></p><a href="http://rc.us-west.srv.overture.com/d/sr/?xargs=20AJMp5AlkpLjl3Qol4f2DCAgv1YZY26MQ-YjZiFd5oPj_BXtK1-MrsjNQKtyYMur_Euy_1TZGKIsxX-IImTAUi6aGj3QYdjWeWp6V3NyyP4moN9TymQ4emHEN5mGGioykxEGolNgbTsUxjOaUd2_wClqNNRwZapouoYZXt__raUkHGkxbze3hiBY_TQohkoH0zE97ho3kcU5KNzYORJLDFuQKraO4lQLsxmkoJIRSRhWJ.0000000073a31990" class="iysmcm-url ysmcm-url yltasis">www.ebay.com</a></li></ul><ul class="iysmcm-col ysmcm-col ysmcm-col2"><li><h4><a href="http://rc.us-west.srv.overture.com/d/sr/?xargs=20ADnzjhopgHwgjeTuZ5RRy_dyhobrzMUkF01P7L-sOuluivBXrX1e_DQJK_jYKpzmDBMluI03sweKsnaPLf1DvYGX0jh5FPNVkqvy_uy1Yq5JdrZ6aHwv3noeKfv2ziEbesbKlL3JKO7-MUq3_zaBKpDupBQenlliRZ_hvLhMUKAr9mw-qr2z-wbBvOQXqo3uHG7mvt0REVdxcRoQjAjmKdZSNhnzl2njY5WzRoVwxcGdpl5vV6SimB8pxPJ74qJ7ag.0000000073a31990">Shine Jewelry</a></h4><p class="iysmcm-desc ysmcm-desc"><a href="http://rc.us-west.srv.overture.com/d/sr/?xargs=20ADnzjhopgHwgjeTuZ5RRy_dyhobrzMUkF01P7L-sOuluivBXrX1e_DQJK_jYKpzmDBMluI03sweKsnaPLf1DvYGX0jh5FPNVkqvy_uy1Yq5JdrZ6aHwv3noeKfv2ziEbesbKlL3JKO7-MUq3_zaBKpDupBQenlliRZ_hvLhMUKAr9mw-qr2z-wbBvOQXqo3uHG7mvt0REVdxcRoQjAjmKdZSNhnzl2njY5WzRoVwxcGdpl5vV6SimB8pxPJ74qJ7ag.0000000073a31990">Find Shine Jewelry Great Selection of Jewelry.</a></p><a href="http://rc.us-west.srv.overture.com/d/sr/?xargs=20ADnzjhopgHwgjeTuZ5RRy_dyhobrzMUkF01P7L-sOuluivBXrX1e_DQJK_jYKpzmDBMluI03sweKsnaPLf1DvYGX0jh5FPNVkqvy_uy1Yq5JdrZ6aHwv3noeKfv2ziEbesbKlL3JKO7-MUq3_zaBKpDupBQenlliRZ_hvLhMUKAr9mw-qr2z-wbBvOQXqo3uHG7mvt0REVdxcRoQjAjmKdZSNhnzl2njY5WzRoVwxcGdpl5vV6SimB8pxPJ74qJ7ag.0000000073a31990" class="iysmcm-url ysmcm-url yltasis">www.ShopStyle.com</a></li><li class='ysmcm-odd'><h4><a href="http://rc.us-west.srv.overture.com/d/sr/?xargs=20ADnzjhopgHwgDCInFpW06vAXNz6ztApa_ma8a8MLNQIMpZrzl_IudgxXGGwxVHrbc-ofwlIqjI6jHw3gAhqAzNIOgxPW5F8fxBemkJMqHOWMIKAnvgCzN3WLWtL1UnyMECN3htXWLsFgog138eGkrtac-hEMAmjRdmp622DOngn5z1WqxJ_L4uRtBI9ZL4Hjt7GG1zp8Bakpby5o7SAmUU1bNmy6g5muDhTtbfVUbAZk3zBeypQvOgbevIRBjLg2bA.0000000073a31990">Find a Shine Law Firm</a></h4><p class="iysmcm-desc ysmcm-desc"><a href="http://rc.us-west.srv.overture.com/d/sr/?xargs=20ADnzjhopgHwgDCInFpW06vAXNz6ztApa_ma8a8MLNQIMpZrzl_IudgxXGGwxVHrbc-ofwlIqjI6jHw3gAhqAzNIOgxPW5F8fxBemkJMqHOWMIKAnvgCzN3WLWtL1UnyMECN3htXWLsFgog138eGkrtac-hEMAmjRdmp622DOngn5z1WqxJ_L4uRtBI9ZL4Hjt7GG1zp8Bakpby5o7SAmUU1bNmy6g5muDhTtbfVUbAZk3zBeypQvOgbevIRBjLg2bA.0000000073a31990">Browse Law Firm Listings in Shine. Compare Profiles & Credentials. Free in-depth Research. FindLaw.com.</a></p><a href="http://rc.us-west.srv.overture.com/d/sr/?xargs=20ADnzjhopgHwgDCInFpW06vAXNz6ztApa_ma8a8MLNQIMpZrzl_IudgxXGGwxVHrbc-ofwlIqjI6jHw3gAhqAzNIOgxPW5F8fxBemkJMqHOWMIKAnvgCzN3WLWtL1UnyMECN3htXWLsFgog138eGkrtac-hEMAmjRdmp622DOngn5z1WqxJ_L4uRtBI9ZL4Hjt7GG1zp8Bakpby5o7SAmUU1bNmy6g5muDhTtbfVUbAZk3zBeypQvOgbevIRBjLg2bA.0000000073a31990" class="iysmcm-url ysmcm-url yltasis">na.link.decdna.net</a></li></ul>

    
    <div></div>
</div>

			

<script type="text/javascript" charset="UTF-8">YAHOO.Lifestyles.ImageLoader.delayByView({el:"ylf-ch-idx2", cl:"lz", imgs:["http://f5.yahoofs.com/coreid/48a3470cia25zul2re3/UdWBLecieq4GxOi2fJ9eifMOCx7o/2/tn32.png?ciAkbsJBufVS.Fww","http://f3.yahoofs.com/coreid/4914acedi5d1zul2sp1/DpDOMuo6er9fUkO4tvWo4_czRE0-/1/tn32.jpg?ciAkbsJBK8PrQY5J","http://f3.yahoofs.com/coreid/48975062i24d6zul2sp1/I0Gy6YIyerTtxSLCzvzyHwaNSmb.MXPe/2/tn32.jpg?ciAkbsJBRcByZHAo","http://f3.yahoofs.com/coreid/4900c98ci3e9zul1sp1/BCuEyYQ8fqIMfWN.Lgxyek1ro1LoHTlKLX58/2/tn32.jpg?ciAkbsJBTriMYXYy","http://f3.yahoofs.com/coreid/47e42df4i22c1zul2sp1/aS7Y_WUic68N2U.B8ZzAH23b8YjytDSsm97p/3/tn32.jpg?ciAkbsJB3l5Wf4Pp","http://f3.yahoofs.com/coreid/48ee3d95i2627zul3sp1/ezhypas8dLfvlSwEBdeK/5/tn32.jpg?ciAkbsJBnZLJjyaV","http://f5.yahoofs.com/coreid/48a3470cia25zul2re3/UdWBLecieq4GxOi2fJ9eifMOCx7o/2/tn32.png?ciAkbsJBufVS.Fww"]});</script>

			<div class="pgnav cls"><span class="prev"><b>&#9668;</b> prev</span><span>1</span><a href="/channel/health/?pg=2" >2</a><a href="/channel/health/?pg=3" >3</a><a href="/channel/health/?pg=4" >4</a><a href="/channel/health/?pg=5" >5</a><a href="/channel/health/?pg=6" >6</a><a href="/channel/health/?pg=7" >7</a><a href="/channel/health/?pg=8" >8</a><a href="/channel/health/?pg=9" class="last">9</a><span class="next"><a href="/channel/health/?pg=2" >next <b>&#9658;</b></a></span></div>

		</div>

		<%= sidebar %>

	</div>

	<div id="ylf-super-footer" class="doc">
	<div class="mn-hd"><h2>Right Now on Shine</h2></div>
	<div class="mn-bd">
		<div class="row first cls">
			
			<div class="mod channel">
				<div class="hd">

					<h2><a href="/channel/beauty/;_ylt=AlJC339dV0svEXRMTX_fYg9qbqU5" >Fashion + Beauty</a></h2>
				</div>
				<div class="bd">
					<h3><a href="/channel/beauty/8-bad-shampoos-you-shouldn-t-buy-352573/;_ylt=AuSdGSwtogWrVg3JV0v2MR1qbqU5" >8 Bad Shampoos You Shouldn't Buy</a></h3>
					<ul class="blt">
						<li><a href="/channel/beauty/this-year-i-resolve-to-quit-wearing-baggy-clothes-and-actually-look-thinner-352362/;_ylt=Aj1vaawLqdS_39ZxoEivaK5qbqU5" >This Year, I Resolve to Quit Wearing Baggy Clothes and Actually Look Thinner</a></li><li><a href="/channel/beauty/whos-your-current-style-icon-352425/" >Who&#39;s Your Current Style Icon?</a></li>

					</ul>
				</div>
				<div class="ft"><a href="/channel/beauty/" class="more">More in Fashion + Beauty &raquo;</a></div>
			</div>

			
			<div class="mod channel col2">
				<div class="hd">
					<h2><a href="/channel/health/;_ylt=AlmqBaaZ.xvH.F9d2gFDpPVqbqU5" >Healthy Living</a></h2>

				</div>
				<div class="bd">
					<h3><a href="/channel/health/healthy-recipes-for-a-superbowl-party-352605/;_ylt=Ai5aW8NIbqUeWBvkv7511dFqbqU5" >Healthy Recipes for a Superbowl Party</a></h3>
					<ul class="blt">
						<li><a href="/channel/health/weird-science-news-too-much-caffeine-might-make-you-hallucinate-352432/;_ylt=AlaOSnhA5SkvDcuJQZ1FbpRqbqU5" >Weird Science News: Too much caffeine might make you hallucinate</a></li><li><a href="/channel/health/user-post-hotel-linen-would-you-bring-your-own-sheets-with-you-352209/;_ylt=Ahi6tssrZcGmLr9WGhWLp0JqbqU5" >User Post: Hotel Linen- would you bring your own sheets with you?</a></li>
					</ul>
				</div>

				<div class="ft"><a href="/channel/health/;_ylt=AszUgk8RHR1l8l5IxyUjJo9qbqU5" class="more">More in Healthy Living &raquo;</a></div>
			</div>

			
			<div class="mod channel">
				<div class="hd">
					<h2><a href="/channel/entertainment/;_ylt=AhlRdnYYAjYU52hFWj66sB5qbqU5" >Entertainment</a></h2>
				</div>
				<div class="bd">

					<h3><a href="/channel/entertainment/why-j-lo-says-her-marriage-is-a-ok-352619/;_ylt=Aqm7_ate7lCHKwsTTH3MsThqbqU5" >Why J.Lo says her marriage is a-ok</a></h3>
					<ul class="blt">
						<li><a href="/channel/entertainment/ashford-amp-simpson-release-ldquo-solid-as-barack-rdquo-352541/;_ylt=Audmd_ZkDT0ok6kH2VZf7d9qbqU5" >Ashford &amp; Simpson release &ldquo;Solid as Barack&rdquo;</a></li><li><a href="/channel/entertainment/user-post-a-look-back-and-a-step-forward-with-us-airways-flight-1549-352438/;_ylt=AlsrAmeq1yPpn84yIWObf3pqbqU5" >User post: A Look Back And A Step Forward with US Airways Flight 1549</a></li>
					</ul>
				</div>
				<div class="ft"><a href="/channel/entertainment/;_ylt=AkebALMyW9H.BFeQUi6vJd9qbqU5" class="more">More in Entertainment &raquo;</a></div>

			</div>

		</div>
		<div class="row cls">
			
			<div class="mod channel">
				<div class="hd">
					<h2><a href="/channel/parenting/;_ylt=Ag4E_7KhA9vqEi_cMNOyMgxqbqU5" >Parenting</a></h2>
				</div>
				<div class="bd">

					<h3><a href="/channel/parenting/silly-parenting-products-352519/;_ylt=AsWlN.5PePgCc_e.uty7VhxqbqU5" >Silly Parenting Products</a></h3>
					<ul class="blt">
						<li><a href="/channel/parenting/interview-a-new-doctor-352641/;_ylt=AiooNd_VPfwKxVcAegodcuZqbqU5" >Interview a new doctor</a></li><li><a href="/channel/parenting/momversation-censoring-your-blog-352340/;_ylt=Asyl9IZFZ.dz.9Py3EeXdZRqbqU5" >Momversation: Censoring Your Blog</a></li>
					</ul>
				</div>
				<div class="ft"><a href="/channel/parenting/;_ylt=AtkZuKjuCvqsHqS4LRfX5SFqbqU5" class="more">More in Parenting &raquo;</a></div>
			</div>

			
			<div class="mod channel col2">
				<div class="hd">
					<h2><a href="/channel/sex/;_ylt=AiSBNOZZhS6n48s2mMGW7CxqbqU5" >Love + Sex</a></h2>
				</div>
				<div class="bd">
					<h3><a href="/channel/sex/5-bridesmaid-gifts-under-50-352638/;_ylt=AgplPtSg9CQGOY38QfPlb61qbqU5" >5 Bridesmaid Gifts Under $50</a></h3>
					<ul class="blt">

						<li><a href="/channel/sex/4-fights-that-guys-want-to-avoid-330690/;_ylt=AjABNmykXobQdGBGKwDBiepqbqU5" >4 fights that guys want to avoid</a></li><li><a href="/channel/sex/four-engagement-rings-that-won-t-break-the-bank-which-would-you-choose-352458/;_ylt=Ar.EK8LnqwMQFUYpBsyg.A9qbqU5" >Four engagement rings that won't break the bank. Which would you choose?</a></li>
					</ul>
				</div>
				<div class="ft"><a href="/channel/sex/;_ylt=AhEwOQ_yhESx9BdiFTr3DCRqbqU5" class="more">More in Love + Sex &raquo;</a></div>
			</div>

			
			<div class="mod channel">
				<div class="hd">

					<h2><a href="/channel/money/;_ylt=AiOcfYt8dbUDcbR94g9sfnlqbqU5" >Work + Money</a></h2>
				</div>
				<div class="bd">
					<h3><a href="/channel/money/grandma-robinson-in-the-white-house-352300/;_ylt=AsphqohKM_CndpMxfk32sZpqbqU5" >Grandma Robinson in the White House</a></h3>
					<ul class="blt">
						<li><a href="/channel/money/a-job-well-done-why-we-needed-the-quot-miracle-on-the-hudson-quot-352715/;_ylt=AlvTkTdimOMUEQhcWI4D6zZqbqU5" >A job well done: Why we needed the &quot;Miracle on the Hudson&quot;</a></li><li><a href="/channel/money/four-ways-to-protect-your-401-k-352015/;_ylt=AgvLPWa8Fo3ln_L65kYph5dqbqU5" >Four ways to protect your 401(k)</a></li>

					</ul>
				</div>
				<div class="ft"><a href="/channel/money/;_ylt=Apk8hGI8zuNmBLwbtB3uOpdqbqU5" class="more">More in Work + Money &raquo;</a></div>
			</div>

		</div>
		<div class="row last cls">
			
			<div class="mod channel">
				<div class="hd">

					<h2><a href="/channel/food/;_ylt=AkPUfm6VBsFwaaQ6s6s.fCFqbqU5" >Food</a></h2>
				</div>
				<div class="bd">
					<h3><a href="/channel/food/basics-chocolate-chip-cookies-352720/;_ylt=ApQOqPC_GI7PdsN53kcWx1NqbqU5" >Basics: Chocolate Chip Cookies</a></h3>
					<ul class="blt">
						<li><a href="/channel/food/how-to-read-a-produce-label-352490/;_ylt=AjDYqu6E60JJC6vVFXFTO9pqbqU5" >How to Read a Produce Label</a></li><li><a href="/channel/food/must-have-baking-supplies-352597/;_ylt=Arxv.xt1gW1TAFZW1bjaVbVqbqU5" >Must-Have Baking Supplies</a></li>
					</ul>

				</div>
				<div class="ft"><a href="/channel/food/;_ylt=AvscfsV0E7hblwt3WBQRAJJqbqU5" class="more">More in Food &raquo;</a></div>
			</div>

			
			<div class="mod channel col2">
				<div class="hd">
					<h2><a href="/channel/home/;_ylt=AlYJUh_yMFQvaYz9JnTcF4dqbqU5" >At Home</a></h2>
				</div>

				<div class="bd">
					<h3><a href="/channel/home/how-to-clean-stainless-steel-appliances-351989/;_ylt=Ak8ja8h656FOCvxRoR8pPs5qbqU5" >How to clean stainless steel appliances</a></h3>
					<ul class="blt">
						<li><a href="/channel/home/hands-on-dinner-party-350418/;_ylt=AlqMpBgaBblwgQA96s6JL4NqbqU5" >Hands-on dinner party</a></li><li><a href="/channel/home/6-wedding-stress-relievers-349948/;_ylt=AoxWJ70ou92Fb7pdBczys_VqbqU5" >6 wedding stress relievers</a></li>
					</ul>
				</div>
				<div class="ft"><a href="/channel/home/;_ylt=AsxounO0zplRPFraaE8EMDJqbqU5" class="more">More in At Home &raquo;</a></div>

			</div>

			
			<div class="mod channel">
				<div class="hd">
					<h2><a href="/channel/community/;_ylt=AnITYjJanZwgsWXQZFHKMuFqbqU5" >Speak Up</a></h2>
				</div>
				<div class="bd">
					<h3><a href="/channel/community/remembering-9-11-257253/;_ylt=Ar.WI.Oiyx4mJ710MAW8KZ1qbqU5" >Remembering 9/11</a></h3>

					<ul class="blt">
						<li><a href="/channel/community/now-it-s-your-turn-shine-readers-thoughts-on-sarah-palin-250336/;_ylt=AknH0fdXrJHAz8ENd45TCzdqbqU5" >Now it’s your turn: Shine readers’ thoughts on Sarah Palin</a></li><li><a href="/channel/community/why-we-re-perplexed-by-sarah-palin-249634/;_ylt=AryV.vN6jiMKFze.AjYjXDBqbqU5" >Why we’re perplexed by Sarah Palin</a></li>
					</ul>
				</div>
				<div class="ft"><a href="/channel/community/;_ylt=AqfWSjlBlHFTuAwQa_g1vqFqbqU5" class="more">More in Speak Up &raquo;</a></div>
			</div>

		</div>

	</div>
</div>


	<div id="ylf-foot">	<div class="doc">		<h3 class="foot-logo"><a href="/" >Shine</a></h3>		<h5 class="foot-yahoo"><a href="http://www.yahoo.com/" >A Yahoo! Company</a></h5>		<ul class="foot-nav">			<li class="first"><a href="/page/guidelines/" >Community Guidelines</a></li>			<li><a href="/page/sitemap/" >Sitemap</a></li>			<li><a href="/page/about/" >About Us</a></li>			<li class="last"><a href="/page/rss/" >RSS Directory</a></li>		</ul>		<ul class="foot-legal">			<li class="first"><a href="http://us.ard.yahoo.com/SIG=153dpatjk/M=289534.12425436.12800119.12044332/D=yliving/S=967143018:FOOT/Y=YAHOO/EXP=1232352127/L=oDyezGKIKqhcbnXdSUWfngtDTO0De0l0F18ADIjx/B=LOufTNj8ek4-/J=1232344927852031/A=5279474/R=0/SIG=11ahrrlcd/*http://suggestions.yahoo.com/?prop=shine" >Questions or Comments</a></li>			<li><a href="http://us.ard.yahoo.com/SIG=153dpatjk/M=289534.12425436.12800119.12044332/D=yliving/S=967143018:FOOT/Y=YAHOO/EXP=1232352127/L=oDyezGKIKqhcbnXdSUWfngtDTO0De0l0F18ADIjx/B=LOufTNj8ek4-/J=1232344927852031/A=5279474/R=1/SIG=11frobg6f/*http://info.yahoo.com/privacy/us/yahoo/shine/" >Privacy Policy</a></li>			<li><a href="http://us.ard.yahoo.com/SIG=153dpatjk/M=289534.12425436.12800119.12044332/D=yliving/S=967143018:FOOT/Y=YAHOO/EXP=1232352127/L=oDyezGKIKqhcbnXdSUWfngtDTO0De0l0F18ADIjx/B=LOufTNj8ek4-/J=1232344927852031/A=5279474/R=2/SIG=11p8a00jv/*http://info.yahoo.com/legal/us/yahoo/utos/utos-173.html" >Terms of Service</a></li>			<li><a href="http://us.ard.yahoo.com/SIG=153dpatjk/M=289534.12425436.12800119.12044332/D=yliving/S=967143018:FOOT/Y=YAHOO/EXP=1232352127/L=oDyezGKIKqhcbnXdSUWfngtDTO0De0l0F18ADIjx/B=LOufTNj8ek4-/J=1232344927852031/A=5279474/R=3/SIG=112aj2pbr/*http://info.yahoo.com/copyright/" >Copyright/IP Policy</a></li>			<li class="last"><a href="http://us.ard.yahoo.com/SIG=153dpatjk/M=289534.12425436.12800119.12044332/D=yliving/S=967143018:FOOT/Y=YAHOO/EXP=1232352127/L=oDyezGKIKqhcbnXdSUWfngtDTO0De0l0F18ADIjx/B=LOufTNj8ek4-/J=1232344927852031/A=5279474/R=4/SIG=118q6ri1v/*http://help.yahoo.com/l/us/yahoo/shine" >Help</a></li>		</ul>		<p class="foot-copyright">Copyright &copy; 2009 Yahoo! All rights reserved.</p>		<p class="foot-legal">The Yahoo! Shine Health channel is not a substitute for professional medical advice, examination, diagnosis or treatment. Always seek the advice of your physician or other qualified health professional before starting any new treatment, making changes to existing treatment, or altering your current exercise or diet regimen in any way. Do not delay seeking or disregard medical advice based on content on this site. No health-related content on Yahoo! Shine, including information about herbal therapies and other dietary supplements, is regulated or evaluated by the Food and Drug Administration and therefore the information should not be used to diagnose, treat, cure or prevent any disease without the supervision of a medical doctor or other qualified health professional.</p>	</div></div><script type="text/javascript" src="http://us.js2.yimg.com/us.js.yimg.com/lib/rt/rto1_78.js"></script><script>var rt_page="967143018:FRTMA"; var rt_ip="76.237.3.123"; if ("function" == typeof(rt_AddVar) ){ rt_AddVar("ys", escape("C8ABA342"));}</script><noscript><img src="http://rtb.pclick.yahoo.com/images/nojs.gif?p=967143018:FRTMA"></noscript> <!-- SpaceID=967143018 loc=FSRVY noad -->

<script language=javascript>
if(window.yzq_d==null)window.yzq_d=new Object();
window.yzq_d['MuufTNj8ek4-']='&U=12dbt4ggh%2fN%3dMuufTNj8ek4-%2fC%3d-1%2fD%3dFSRVY%2fB%3d-1%2fV%3d0';
</script><noscript><img width=1 height=1 alt="" src="http://us.bc.yahoo.com/b?P=oDyezGKIKqhcbnXdSUWfngtDTO0De0l0F18ADIjx&T=1426tk8hg%2fX%3d1232344927%2fE%3d967143018%2fR%3dyliving%2fK%3d5%2fV%3d2.1%2fW%3dH%2fY%3dYAHOO%2fF%3d1267836901%2fQ%3d-1%2fS%3d1%2fJ%3dC8ABA342&U=12dbt4ggh%2fN%3dMuufTNj8ek4-%2fC%3d-1%2fD%3dFSRVY%2fB%3d-1%2fV%3d0"></noscript><script language=javascript>
if(window.yzq_d==null)window.yzq_d=new Object();
window.yzq_d['LOufTNj8ek4-']='&U=13gdtkv3j%2fN%3dLOufTNj8ek4-%2fC%3d289534.12425436.12800119.12044332%2fD%3dFOOT%2fB%3d5279474%2fV%3d1';
</script><noscript><img width=1 height=1 alt="" src="http://us.bc.yahoo.com/b?P=oDyezGKIKqhcbnXdSUWfngtDTO0De0l0F18ADIjx&T=142agvjb1%2fX%3d1232344927%2fE%3d967143018%2fR%3dyliving%2fK%3d5%2fV%3d2.1%2fW%3dH%2fY%3dYAHOO%2fF%3d3996354870%2fQ%3d-1%2fS%3d1%2fJ%3dC8ABA342&U=13gdtkv3j%2fN%3dLOufTNj8ek4-%2fC%3d289534.12425436.12800119.12044332%2fD%3dFOOT%2fB%3d5279474%2fV%3d1"></noscript>
	
	
<!-- Advertiser 'Yahoo! - Shine',  Include user in segment 'Shine Remarketing Homepage' - DO NOT MODIFY THIS PIXEL
IN ANY WAY -->
<img src="http://ad.yieldmanager.com/pixel?id=121491&t=2" width="1" height="1" />
<!-- End of segment tag -->
</body>
</html>

<!-- Shine:myservice-us:0:Success -->

<script language=javascript>
if(window.yzq_p==null)document.write("<scr"+"ipt language=javascript src=http://l.yimg.com/us.js.yimg.com/lib/bc/bc_2.0.4.js></scr"+"ipt>");
</script><script language=javascript>
if(window.yzq_p)yzq_p('P=oDyezGKIKqhcbnXdSUWfngtDTO0De0l0F18ADIjx&T=13tr4v3uo%2fX%3d1232344927%2fE%3d967143018%2fR%3dyliving%2fK%3d5%2fV%3d1.1%2fW%3dJ%2fY%3dYAHOO%2fF%3d1445242508%2fS%3d1%2fJ%3dC8ABA342');
if(window.yzq_s)yzq_s();
</script><noscript><img width=1 height=1 alt="" src="http://us.bc.yahoo.com/b?P=oDyezGKIKqhcbnXdSUWfngtDTO0De0l0F18ADIjx&T=142bieb4e%2fX%3d1232344927%2fE%3d967143018%2fR%3dyliving%2fK%3d5%2fV%3d3.1%2fW%3dJ%2fY%3dYAHOO%2fF%3d2667488069%2fQ%3d-1%2fS%3d1%2fJ%3dC8ABA342"></noscript>

<!-- fe3.shine.lifestyles.sp1.yahoo.com compressed/chunked Sun Jan 18 22:02:07 PST 2009 -->
